In [1]:
import pandas as pd
import scipy.stats as stats

In [100]:
sig_bqtl_lcl = pd.read_csv('data/bed_files/bedtools/sig_bqtl_in_lcl.txt', sep='\t',header=None)
b_qtl_lcl = pd.read_csv('data/bed_files/bedtools/bqtl_in_lcl.txt', sep='\t',header=None)
sig_bqtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_bqtl_in_sig_lcl.txt', sep='\t',header=None)
b_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/bqtl_in_sig_lcl.txt', sep='\t',header=None)

In [40]:
cd4_qtl_lcl = pd.read_csv('data/bed_files/bedtools/cd4qtl_in_lcl.txt', sep='\t', header=None)
cd4_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/cd4qtl_in_sig_lcl.txt', sep='\t', header=None)
sig_cd4_qtl_lcl = pd.read_csv('data/bed_files/bedtools/sig_cd4qtl_in_lcl.txt', sep='\t', header=None)
sig_cd4_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_cd4qtl_in_sig_lcl.txt.', sep='\t', header=None)

In [101]:
cd4_qtl_plasmid = pd.read_csv('data/bed_files/bedtools/cd4qtl_in_plasmid.txt', sep='\t', header=None)
cd4_qtl_enh = pd.read_csv('data/bed_files/bedtools/cd4qtl_in_enh.txt', sep='\t', header=None)
sig_cd4_qtl_plasmid = pd.read_csv('data/bed_files/bedtools/sig_cd4qtl_in_plasmid.txt', sep='\t', header=None)
sig_cd4_qtl_enh = pd.read_csv('data/bed_files/bedtools/sig_cd4qtl_in_enh.txt', sep='\t', header=None)

In [ ]:
cd4_in_enh_plasmid = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/cd4_qtl_enh_plasmid.txt', 
                                 sep='\t', header=None)

In [ ]:
sig_cd4_in_enh_plasmid = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/sig_cd4_qtl_enh_plasmid.txt', 
                                 sep='\t', header=None)

In [ ]:
sig_cd4_in_enh_mergedplasmid = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/sig_cd4_qtl_enh_mergedplasmid.txt', 
                                 sep='\t', header=None)

In [102]:
test = pd.read_csv('data/bed_files/bedtools/active_sequences_cd4.txt')

In [103]:
merged_plasmid = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/bedtools/merged_plasmid.txt', sep='\t', header=None)

In [ ]:
non_sig_b_qtl_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/non_sig_b_qtl_sig_enh_plasmid.txt", sep='\t', header=None)
non_sig_b_qtl_non_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/non_sig_b_qtl_non_sig_enh_plasmid.txt", sep='\t', header=None)
sig_b_qtl_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/sig_b_qtl_sig_enh_plasmid.txt", sep='\t', header=None)
sig_b_qtl_non_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/sig_b_qtl_non_sig_enh_plasmid.txt", sep='\t', header=None)

In [ ]:
non_sig_cd4_qtl_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/non_sig_cd4_qtl_sig_enh_plasmid.txt", sep='\t', header=None)
non_sig_cd4_qtl_non_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/non_sig_cd4_qtl_non_sig_enh_plasmid.txt", sep='\t', header=None)
sig_cd4_qtl_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/sig_cd4_qtl_sig_enh_plasmid.txt", sep='\t', header=None)
sig_cd4_qtl_non_sig_enh = pd.read_csv("data/bed_files/plasmid/enhancer/sig_cd4_qtl_non_sig_enh_plasmid.txt", sep='\t', header=None)

In [ ]:
non_sig_b_qtl_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/non_sig_b_qtl_sig_nre_plasmid.txt", sep='\t', header=None)
non_sig_b_qtl_non_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/non_sig_b_qtl_non_sig_nre_plasmid.txt", sep='\t', header=None)
sig_b_qtl_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/sig_b_qtl_sig_nre_plasmid.txt", sep='\t', header=None)
sig_b_qtl_non_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/sig_b_qtl_non_sig_nre_plasmid.txt", sep='\t', header=None)

In [ ]:
non_sig_cd4_qtl_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/non_sig_cd4_qtl_sig_nre_plasmid.txt", sep='\t', header=None)
non_sig_cd4_qtl_non_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/non_sig_cd4_qtl_non_sig_nre_plasmid.txt", sep='\t', header=None)
sig_cd4_qtl_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/sig_cd4_qtl_sig_nre_plasmid.txt", sep='\t', header=None)
sig_cd4_qtl_non_sig_nre = pd.read_csv("data/bed_files/plasmid/nre/sig_cd4_qtl_non_sig_nre_plasmid.txt", sep='\t', header=None)

In [ ]:
# sig_b_qtl_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/sig_b_qtl_sig_nre_plasmid.txt', sep='\t', header=None)
b_qtl_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/b_qtl_sig_nre.txt', sep='\t', header=None)
b_qtl_non_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/b_qtl_non_sig_nre.txt', sep='\t', header=None)
# sig_b_qtl_non_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/sig_b_qtl_non_sig_nre_plasmid.txt', sep='\t', header=None)

#### __Bedtools__
#### bqtl in lcl

In [104]:
sig_bqtl_sig_lcl_len = len(sig_bqtl_sig_lcl[5].value_counts())
#sig_bqtl_sig_lcl_len

In [105]:
b_qtl_sig_lcl_len = len(b_qtl_sig_lcl[5].value_counts())
#b_qtl_sig_lcl_len

In [106]:
sig_bqtl_lcl_len = len(sig_bqtl_lcl[5].value_counts())
#sig_bqtl_lcl_len

In [107]:
b_qtl_lcl_len = len(b_qtl_lcl[5].value_counts())
#b_qtl_lcl_len

In [108]:
print(sig_bqtl_sig_lcl_len)
print(b_qtl_sig_lcl_len)
print(sig_bqtl_lcl_len- sig_bqtl_sig_lcl_len)
print(b_qtl_lcl_len - b_qtl_sig_lcl_len)

656
1833
2362
10161

In [109]:
print('overlap whole lcl mpra \t overlap snp position')
print(round(656/1833, 3), '\t\t\t', round(436/1196, 3))
print(round(2362/ 10161, 3), '\t\t\t', round(2165/7738, 3))

overlap whole lcl mpra 	 overlap snp position
0.358 			 0.365
0.232 			 0.28

#### cd4 qtl in lcl

In [111]:
cd4_qtl_lcl_len = len(cd4_qtl_lcl[5].value_counts())
#cd4_qtl_lcl_len

In [112]:
cd4_qtl_sig_lcl_len = len(cd4_qtl_sig_lcl[5].value_counts())
#cd4_qtl_sig_lcl_len

In [113]:
sig_cd4_qtl_lcl_len = len(sig_cd4_qtl_lcl[5].value_counts())
#sig_cd4_qtl_lcl_len

In [114]:
sig_cd4_qtl_sig_lcl_len = len(sig_cd4_qtl_sig_lcl[5].value_counts())
#sig_cd4_qtl_sig_lcl_len

In [115]:
print(sig_cd4_qtl_sig_lcl_len)
print(cd4_qtl_sig_lcl_len)
print(sig_cd4_qtl_lcl_len - sig_cd4_qtl_sig_lcl_len)
print(cd4_qtl_lcl_len - cd4_qtl_sig_lcl_len)

1127
1991
5337
11212

In [116]:
print('overlap cd4 whole lcl mpra \t overlap cd4 qtl snp position in lcl')
print(round(1127/1991, 3), '\t\t\t\t', round(730/1284,3))
print(round(5537/11212, 3), '\t\t\t\t', round(4223/8555, 3))

overlap cd4 whole lcl mpra 	 overlap cd4 qtl snp position in lcl
0.566 				 0.569
0.494 				 0.494

Everything but significant b qtls in cd4

In [117]:
sig_bqtl = pd.read_csv('data/b_qtl.csv', sep= '\t')

In [118]:
sig_cd4_qtl = pd.read_csv('data/cd4_qtl.csv', sep='\t')

In [119]:
sig_bqtl

,feature_id,snp_id,p_value,beta,beta_se,empirical_feature_p_value,feature_chromosome,feature_start,feature_end,ENSG,...,snp_chromosome,snp_position,assessed_allele,call_rate,maf,hwe_p,QTL,z_score,weight,z_score_org
0,RPS26,12:56007301:G:A,3.382176e-34,1.443169,0.249831,2.282969e-31,12,56041351,56044697,ENSG00000197728,...,12,56007301.0,G,1,0.447368,0.509556,12:56007301:G:A-RPS26,12.193121,211365.1,12.408954
1,SMDT1,22:42123461:A:AT,4.472720e-20,1.006116,0.252152,6.857645e-19,22,42079691,42084284,ENSG00000183172,...,22,42123461.0,A,1,0.315789,1.000000,22:42123461:A:AT-SMDT1,9.176031,211365.1,9.403753
2,SMDT1,22:42119191:GAGAT:G,4.763233e-20,1.078521,0.252800,6.857645e-19,22,42079691,42084284,ENSG00000183172,...,22,42119191.0,GAGAT,1,0.342105,1.000000,22:42119191:GAGAT:G-SMDT1,9.169250,211365.1,9.320564
3,SMDT1,22:42092156:C:A,4.933741e-20,1.073046,0.253754,6.857645e-19,22,42079691,42084284,ENSG00000183172,...,22,42092156.0,C,1,0.342105,1.000000,22:42092156:C:A-SMDT1,9.165457,211365.1,9.320889
4,SMDT1,22:42094636:CAAA:C,5.097736e-20,1.063314,0.251781,6.857645e-19,22,42079691,42084284,ENSG00000183172,...,22,42094636.0,CAAA,1,0.342105,1.000000,22:42094636:CAAA:C-SMDT1,9.161930,211365.1,9.318367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20012,TUFM,16:28892446:AAC:A,9.915560e-04,0.881049,0.314535,5.637180e-03,16,28842411,28846348,ENSG00000178952,...,16,28892446.0,AAC,1,0.381579,0.490409,16:28892446:AAC:A-TUFM,3.292912,211365.1,3.366263
20013,HLA-C,6:31478769:T:C,1.863080e-03,-0.390286,0.236738,5.640952e-03,6,31268749,31272130,ENSG00000204525,...,6,31478769.0,T,1,0.355263,1.000000,6:31478769:T:C-HLA-C,-3.111233,211365.1,-3.108471
20014,HLA-C,6:31516255:T:C,1.864925e-03,-0.751529,0.316263,5.643625e-03,6,31268749,31272130,ENSG00000204525,...,6,31516255.0,T,1,0.184211,1.000000,6:31516255:T:C-HLA-C,-3.110940,211365.1,-2.973853
20015,HLA-C,6:31396930:G:A,1.865420e-03,0.383531,0.268094,5.643625e-03,6,31268749,31272130,ENSG00000204525,...,6,31396930.0,G,1,0.368421,0.507756,6:31396930:G:A-HLA-C,3.110862,211365.1,3.149272
20016,RPL35A,3:196979325:T:C,8.963365e-06,-0.463715,0.155512,5.646920e-03,3,197950190,197956610,ENSG00000182899,...,3,196979325.0,T,1,0.421053,0.746864,3:196979325:T:C-RPL35A,-4.440779,211365.1,-4.329617

In [120]:
sig_cd4_qtl =sig_cd4_qtl.astype({'snp_position': 'int64'})

In [121]:
sig_bqtl = sig_bqtl.astype({'snp_position': 'int64'})

In [122]:
print(len(sig_cd4_qtl_sig_lcl[~sig_cd4_qtl_sig_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
print(len(cd4_qtl_sig_lcl[~cd4_qtl_sig_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
print(3589-499)
print(10182-1335)
# print(len(sig_cd4_qtl_lcl[~sig_cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
# print(len(cd4_qtl_lcl[~cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))

499
1335
3090
8847

In [123]:
unique_cd4_lcl = {'sig_ cd4': [499, 1335],
                          'total_cd4':[3090, 8847],
                          'ratio': [(499/1335), (3090/ 8847)]}
unique_cd4_lcl = pd.DataFrame(data=unique_cd4_lcl, index=['sig_lcl', 'non_sig_lcl']).round({'ratio':2})
unique_cd4_lcl

             sig_ cd4  total_cd4  ratio
sig_lcl           499       3090   0.37
non_sig_lcl      1335       8847   0.35

In [124]:
odd_ratio, p_value = stats.fisher_exact(unique_cd4_lcl.iloc[:,:2])
print('', odd_ratio, p_value)

 1.0701799934547835 0.23029374241675693

In [125]:
enr_b_lcl_snp = [[436, 1996], 
             [2165, 7738]]

odd_ratio, p_value = stats.fisher_exact(enr_b_lcl_snp)
print('B-qtls overlap with snp in lcl mpra:', odd_ratio, p_value)

B-qtls overlap with snp in lcl mpra: 0.78072264621622 1.6896494458562875e-05

In [126]:
print('overlap cd4 whole lcl mpra \t overlap cd4 qtl snp position in lcl')
print(round(499/1335, 3), '\t\t\t\t', round(302/856 ,3))
print(round(3090/ 8847, 3), '\t\t\t\t', round(2148/6480, 3))

overlap cd4 whole lcl mpra 	 overlap cd4 qtl snp position in lcl
0.374 				 0.353
0.349 				 0.331

In [127]:
enr_b_lcl_snp = [[436, 1996], 
             [2165, 7738]]

odd_ratio, p_value = stats.fisher_exact(enr_b_lcl_snp)
print('B-qtls overlap with snp in lcl mpra:', odd_ratio, p_value)

B-qtls overlap with snp in lcl mpra: 0.78072264621622 1.6896494458562875e-05

In [128]:
sig_bqtl_sig_lcl_len

656

In [129]:
656/2362

0.2777307366638442

In [130]:
1833/10161

0.18039563035134337

In [131]:
enr_b_lcl = {'sig_b': [sig_bqtl_sig_lcl_len, b_qtl_sig_lcl_len],
                          'total_b':[(sig_bqtl_lcl_len - sig_bqtl_sig_lcl_len), (b_qtl_lcl_len - b_qtl_sig_lcl_len)],
                          'ratio': [(sig_bqtl_sig_lcl_len/b_qtl_sig_lcl_len),(sig_bqtl_lcl_len- sig_bqtl_sig_lcl_len)/ (b_qtl_lcl_len - b_qtl_sig_lcl_len)]}
enr_b_lcl = pd.DataFrame(data=enr_b_lcl, index=['sig_lcl', 'non_sig_lcl']).round({'ratio':2})
enr_b_lcl

             sig_b  total_b  ratio
sig_lcl        656     2362   0.36
non_sig_lcl   1833    10161   0.23

In [132]:
enr_b_lcl = [[sig_bqtl_sig_lcl_len, b_qtl_sig_lcl_len], 
             [(sig_bqtl_lcl_len - sig_bqtl_sig_lcl_len), (b_qtl_lcl_len - b_qtl_sig_lcl_len)]]

odd_ratio, p_value = stats.fisher_exact(enr_b_lcl)
print('B-qtls in lcl mpra:', odd_ratio, p_value)

B-qtls in lcl mpra: 1.5395646564327992 1.114862410327776e-16

In [133]:
enr_cd4_lcl = [[1127, 1991], [5537, 11212]]
odd_ratio, p_value = stats.fisher_exact(enr_cd4_lcl)
print('CD4-qtls in lcl mpra:', odd_ratio, p_value)

CD4-qtls in lcl mpra: 1.1462021574963441 0.0008803963160845122

In [134]:
enr_cd4_lcl = {'sig_ cd4': [1127, 1991],
                          'total_cd4':[5537, 11212],
                          'ratio': [(1127/1991), (5537/ 11212)]}
enr_cd4_lcl = pd.DataFrame(data=enr_cd4_lcl, index=['sig_lcl', 'non_sig_lcl']).round({'ratio':2})
enr_cd4_lcl

             sig_ cd4  total_cd4  ratio
sig_lcl          1127       5537   0.57
non_sig_lcl      1991      11212   0.49

In [135]:
enr_unique_cd4_lcl = [[499, 1335], [3090, 8847]]
odd_ratio, p_value = stats.fisher_exact(enr_unique_cd4_lcl)
print('Everything but significant B qtls in CD4 T:', odd_ratio, p_value)

Everything but significant B qtls in CD4 T: 1.0701799934547835 0.23029374241675693

***
***
### Testing range extension of plasmid reads

length plasmid sequence differs from enhancer sequence

In [136]:
plasmid = pd.read_csv('data/bed_files/grch38_plasmid.bed', sep='\t', header=None)

In [140]:
enhancer = pd.read_csv('data/enh_cd4_coords.txt', sep='\t', header=None)

In [137]:
plasmid[4]= (plasmid[2] - plasmid[1]) +1

In [138]:
plasmid[4].value_counts()

10    3675299
2     1349365
3      799933
4      399940
5      347401
6      299211
8      150580
7      149621
9      109536
19        480
11        131
12        104
15         94
13         73
18         58
16         50
17         48
14         43
23          1
Name: 4, dtype: int64

In [139]:
plasmid[4].mean()

6.899070965431323

In [141]:
enhancer[4] = (enhancer[2] - enhancer[1]) +1

In [142]:
enhancer[4].value_counts()

164    65
163    63
158    58
156    52
185    51
       ..
510     1
442     1
513     1
597     1
495     1
Name: 4, Length: 530, dtype: int64

In [143]:
enhancer[4].mean()

203.86654366543667

In [147]:
sig_cd4_in_enh_mergedplasmid

        0          1          2     3          4          5                  6
0    chr1  100896792  100896871  chr1  100896815  100896816    1:100896815:C:A
1    chr1  172381044  172381072  chr1  172381071  172381072  1:172381071:GCA:G
2    chr1  172394348  172394357  chr1  172394348  172394349    1:172394348:A:G
3    chr1   19644219   19644278  chr1   19644233   19644234     1:19644233:C:G
4    chr1  204507214  204507236  chr1  204507233  204507234    1:204507233:G:A
..    ...        ...        ...   ...        ...        ...                ...
169  chr9     277771     277806  chr9     277776     277777       9:277776:C:T
170  chr9   37753744   37753816  chr9   37753795   37753796     9:37753795:C:T
171  chr9   37753744   37753816  chr9   37753801   37753802     9:37753801:C:T
172  chr9   37753849   37753863  chr9   37753849   37753850     9:37753849:T:G
173  chr9   97905310   97905327  chr9   97905317   97905318     9:97905317:C:T

[174 rows x 7 columns]

In [148]:
sig_cd4_in_enh_plasmid

,0,1,2,3,4,5,6,7,8
0,chr1,100896813,100896817,1.120010,330781,chr1,100896815,100896816,1:100896815:C:A
1,chr1,172381067,172381072,0.122928,509041,chr1,172381071,172381072,1:172381071:GCA:G
2,chr1,172394348,172394357,0.655618,509182,chr1,172394348,172394349,1:172394348:A:G
3,chr1,19644233,19644238,0.491713,83495,chr1,19644233,19644234,1:19644233:C:G
4,chr1,204507231,204507236,0.519031,590146,chr1,204507233,204507234,1:204507233:G:A
...,...,...,...,...,...,...,...,...,...
169,chr9,277776,277777,0.696594,7010435,chr9,277776,277777,9:277776:C:T
170,chr9,37753795,37753796,0.478054,7093854,chr9,37753795,37753796,9:37753795:C:T
171,chr9,37753800,37753802,0.327809,7093858,chr9,37753801,37753802,9:37753801:C:T
172,chr9,37753849,37753851,0.081952,7093872,chr9,37753849,37753850,9:37753849:T:G
173,chr9,97905310,97905318,0.286833,7171044,chr9,97905317,97905318,9:97905317:C:T

In [150]:
not_found_cd4_qtl = sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(sig_cd4_in_enh_plasmid[8])]
len(not_found_cd4_qtl)

56

In [151]:
not_found_cd4_qtl[not_found_cd4_qtl[0] == 'chr1']

,0,1,2,3,4,5,6,7
14,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321543,26321544,1:26321543:C:T
15,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321597,26321598,1:26321597:A:G
17,chr1,39691428,39691785,chr1_40157100_40157457_MACS2STARRENH_indivuall...,chr1,39691588,39691589,1:39691588:C:A

In [152]:
sig_cd4_qtl_enh

,0,1,2,3,4,5,6,7
0,chr1,100896711,100896885,chr1_101362267_101362441_MACS2STARRENH_indivua...,chr1,100896815,100896816,1:100896815:C:A
1,chr1,172380900,172381177,chr1_172350040_172350317_MACS2STARRENH_indivua...,chr1,172381071,172381072,1:172381071:GCA:G
2,chr1,172394195,172394357,chr1_172363335_172363497_MACS2STARRENH_indivua...,chr1,172394348,172394349,1:172394348:A:G
3,chr1,19644171,19644326,chr1_19970665_19970820_MACS2STARRENH_indivuall...,chr1,19644233,19644234,1:19644233:C:G
4,chr1,204507103,204507425,chr1_204476231_204476553_MACS2STARRENH_indivua...,chr1,204507233,204507234,1:204507233:G:A
...,...,...,...,...,...,...,...,...
225,chr9,277733,277891,chr9_277733_277891_MACS2STARRENH_indivuallyrmD...,chr9,277776,277777,9:277776:C:T
226,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753795,37753796,9:37753795:C:T
227,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753801,37753802,9:37753801:C:T
228,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753849,37753850,9:37753849:T:G
229,chr9,97905294,97905465,chr9_100667576_100667747_MACS2STARRENH_indivua...,chr9,97905317,97905318,9:97905317:C:T

In [153]:
range_10_enh_plasmid =pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/sig_cd4_qtl_10_enh_plasmid.txt', header=None, sep='\t')

In [154]:
range_10_enh_plasmid[8].value_counts()

12:50167576:G:C    11
11:66052212:A:G    11
5:178730755:A:G    10
1:26233990:C:A     10
14:52730022:A:C    10
                   ..
21:37074019:A:G     1
2:97713589:C:A      1
2:53995048:A:G      1
2:224585444:G:C     1
9:97905317:C:T      1
Name: 8, Length: 222, dtype: int64

In [155]:
len(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(range_10_enh_plasmid[8].unique())])

20

In [156]:
range_10_enh_plasmid[range_10_enh_plasmid[8].isin(sig_cd4_qtl_enh[7])][8].value_counts()

11:66052212:A:G      11
12:50167576:G:C      11
1:26233990:C:A       10
14:52730022:A:C      10
14:74493665:TGG:T    10
                     ..
6:31197166:G:A        1
6:31197235:G:T        1
6:31197237:G:T        1
6:31197239:G:T        1
9:97905317:C:T        1
Name: 8, Length: 210, dtype: int64

In [157]:
range_10_enh_plasmid[8].value_counts()

12:50167576:G:C    11
11:66052212:A:G    11
5:178730755:A:G    10
1:26233990:C:A     10
14:52730022:A:C    10
                   ..
21:37074019:A:G     1
2:97713589:C:A      1
2:53995048:A:G      1
2:224585444:G:C     1
9:97905317:C:T      1
Name: 8, Length: 222, dtype: int64

In [158]:
print('qtls found extra that are not in the original 230:', len(range_10_enh_plasmid[8].value_counts()) - len(range_10_enh_plasmid[range_10_enh_plasmid[8].isin(sig_cd4_qtl_enh[7])][8].value_counts()))

qtls found extra that are not in the original 230: 12

In [159]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7] == '12:50167576:G:C']

,0,1,2,3,4,5,6,7
57,chr12,50167322,50167664,chr12_50561105_50561447_MACS2STARRENH_indivual...,chr12,50167576,50167577,12:50167576:G:C

In [160]:
range_10_merged_enh_plasmid =pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/sig_cd4_qtl_10_enh_mergedplasmid.txt', header=None, sep='\t')

In [161]:
range_10_merged_enh_plasmid[6].value_counts()

6:31197241:G:T         2
12:123712344:C:G       2
17:64082248:C:T        2
11:9004143:C:T         2
6:27807919:G:C         2
                      ..
17:45226241:A:G        1
17:51153539:C:T        1
17:58631742:CAAAT:C    1
17:7205187:T:G         1
9:97905317:C:T         1
Name: 6, Length: 222, dtype: int64

In [162]:
len(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(range_10_merged_enh_plasmid[6])])

20

In [163]:
range_10_merged_enh_plasmid[range_10_merged_enh_plasmid[6].isin(sig_cd4_qtl_enh[7].unique())][6].value_counts()

11:9004143:C:T           2
9:109120153:AGGG:A       2
16:57417280:C:G          2
6:27807919:G:C           2
8:60678515:TGCGGCCC:T    2
                        ..
16:3106665:T:G           1
16:667971:C:G            1
17:27893329:G:T          1
17:45226241:A:G          1
9:97905317:C:T           1
Name: 6, Length: 210, dtype: int64

In [164]:
list(range_10_merged_enh_plasmid[range_10_merged_enh_plasmid[6].isin(sig_cd4_qtl_enh[7].unique())][6].unique())

['1:100896815:C:A',
 '1:172381071:GCA:G',
 '1:172394348:A:G',
 '1:19644233:C:G',
 '1:204507233:G:A',
 '1:204521342:A:G',
 '1:205750404:G:A',
 '1:232924231:A:C',
 '1:232950710:T:C',
 '1:24535214:G:A',
 '1:2547072:T:A',
 '1:26169879:C:T',
 '1:26233990:C:A',
 '1:26317908:C:T',
 '1:26321597:A:G',
 '1:39691471:C:T',
 '1:39691588:C:A',
 '1:65420459:C:G',
 '1:7961680:G:A',
 '1:99808794:A:C',
 '10:102503918:T:C',
 '10:102918130:A:C',
 '10:104338176:A:G',
 '10:26861164:G:T',
 '10:28334391:A:G',
 '10:31928794:C:A',
 '10:63720130:G:A',
 '10:97445974:A:G',
 '11:119018686:G:GAGGAGA',
 '11:22829863:A:G',
 '11:22829909:A:G',
 '11:33736395:A:G',
 '11:47270084:C:T',
 '11:47408353:G:A',
 '11:47767530:T:G',
 '11:57712376:A:C',
 '11:57712392:T:C',
 '11:66052080:C:T',
 '11:66052212:A:G',
 '11:67446485:C:T',
 '11:74171215:T:G',
 '11:74949098:G:C',
 '11:9004143:C:T',
 '12:123712188:G:C',
 '12:123712301:CG:C',
 '12:123712344:C:G',
 '12:12725745:AT:A',
 '12:12725831:T:C',
 '12:21456346:C:A',
 '12:21456389:C:A',
 '12:44848030:C:CA',
 '12:47360853:C:T',
 '12:48716799:C:G',
 '12:48904081:C:T',
 '12:50167576:G:C',
 '12:69585335:G:C',
 '12:8960406:G:T',
 '12:9025154:C:A',
 '12:9025170:A:G',
 '12:9025302:T:C',
 '13:110915159:G:A',
 '13:110915348:C:G',
 '14:21477256:A:G',
 '14:32201977:A:C',
 '14:52730022:A:C',
 '14:74493665:TGG:T',
 '14:92040239:T:C',
 '15:55225033:C:G',
 '15:67521033:C:T',
 '15:67521133:A:C',
 '15:75738859:C:T',
 '15:76995149:G:GCTGCCTGCCTGC',
 '15:90352235:T:C',
 '16:1826948:G:C',
 '16:19907665:T:C',
 '16:3106665:T:G',
 '16:57417280:C:G',
 '16:667971:C:G',
 '17:27893329:G:T',
 '17:45226241:A:G',
 '17:51153539:C:T',
 '17:58631742:CAAAT:C',
 '17:64082248:C:T',
 '17:7205187:T:G',
 '17:7219921:T:TGGGCGTGCAGGACGC',
 '17:82751805:G:C',
 '17:82864204:A:G',
 '19:10111519:A:G',
 '19:10339609:G:A',
 '19:12613831:A:G',
 '19:17309356:T:C',
 '19:17328109:T:C',
 '19:17328114:C:T',
 '19:17328121:G:GGCGAGGCCCCGCCCCCT',
 '19:18058504:T:G',
 '19:19170378:T:G',
 '19:19598992:A:G',
 '19:35740745:C:T',
 '19:4915329:G:A',
 '19:49877601:T:G',
 '2:10812875:G:T',
 '2:10812936:GT:G',
 '2:151261757:G:A',
 '2:151261761:A:G',
 '2:151261824:G:GT',
 '2:224585444:G:C',
 '2:38667386:G:A',
 '2:42297449:A:G',
 '2:53995028:C:A',
 '2:53995048:A:G',
 '2:9423178:CGT:C',
 '2:98731099:CGCCGCCGCCGCT:C',
 '20:18567337:G:A',
 '20:25058162:C:T',
 '20:25058203:C:G',
 '20:25090868:T:C',
 '20:3989490:C:CA',
 '20:44210764:A:G',
 '20:45374025:C:G',
 '20:45881093:G:A',
 '21:37073754:T:C',
 '21:37074019:A:G',
 '22:41919786:C:T',
 '22:41940168:G:A',
 '3:108806653:C:T',
 '3:112129138:A:G',
 '3:156524860:A:C',
 '3:195550285:A:G',
 '3:36970133:G:A',
 '3:46693608:C:G',
 '4:103198430:C:T',
 '4:75941102:G:A',
 '5:113022796:G:A',
 '5:16629617:T:TG',
 '5:16629706:C:G',
 '5:178730755:A:G',
 '5:178730808:C:A',
 '5:76543299:A:G',
 '5:79236056:G:GCGC',
 '5:82278363:C:T',
 '5:82278552:GT:G',
 '6:116254181:T:G',
 '6:116681111:TCCG:T',
 '6:118719708:C:G',
 '6:130223616:A:C',
 '6:166969587:G:A',
 '6:27807896:A:G',
 '6:27807919:G:C',
 '6:27837477:A:C',
 '6:27865396:A:G',
 '6:28884674:T:C',
 '6:29708760:G:A',
 '6:29708939:C:T',
 '6:29709046:C:T',
 '6:29964961:G:C',
 '6:29966165:A:AC',
 '6:29966166:A:ACACACACACAC',
 '6:29966168:A:C',
 '6:29966170:A:C',
 '6:29966245:T:C',
 '6:29966303:C:T',
 '6:30213498:A:G',
 '6:30213543:A:T',
 '6:30453840:C:T',
 '6:31158475:C:A',
 '6:31197124:T:G',
 '6:31197166:G:A',
 '6:31197228:A:ATTTTT',
 '6:31197235:G:T',
 '6:31197237:G:T',
 '6:31197239:G:T',
 '6:31197241:G:T',
 '6:31197254:T:TCTCA',
 '6:31260124:G:A',
 '6:31260263:T:C',
 '6:31260277:G:C',
 '6:31491965:G:A',
 '6:31572294:G:A',
 '6:31572364:A:C',
 '6:31620553:C:CT',
 '6:32177930:A:C',
 '6:32178216:C:G',
 '6:32178222:C:G',
 '6:32255332:A:G',
 '6:33323095:G:A',
 '7:1160276:A:G',
 '7:127856715:A:G',
 '7:6374280:T:C',
 '7:64307384:G:C',
 '7:64563203:A:G',
 '7:6729524:A:G',
 '8:117520714:TG:T',
 '8:11769705:C:A',
 '8:11769752:C:G',
 '8:127993221:C:A',
 '8:127993221:C:T',
 '8:127993338:G:A',
 '8:143617735:C:G',
 '8:38787396:A:G',
 '8:60678515:TGCGGCCC:T',
 '9:108934109:G:C',
 '9:109120075:GA:G',
 '9:109120085:A:G',
 '9:109120153:AGGG:A',
 '9:109120159:G:C',
 '9:277776:C:T',
 '9:37753795:C:T',
 '9:37753801:C:T',
 '9:37753849:T:G',
 '9:97905317:C:T']

In [165]:
list(set(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(range_10_enh_plasmid[8].unique())][7].unique()) & set(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(range_10_merged_enh_plasmid[6].unique())][7].unique()))

['6:31491991:A:G',
 '21:36114245:CT:C',
 '22:40765045:C:G',
 '13:32791632:T:C',
 '6:31197323:A:C',
 '3:101467181:C:A',
 '10:104255006:CCGG:C',
 '7:86978895:G:A',
 '21:36173867:TA:T',
 '21:45923406:C:A',
 '19:18496527:CT:C',
 '20:59253528:C:A',
 '11:73995246:C:T',
 '4:103198600:G:A',
 '14:58313408:G:A',
 '1:26321543:C:T',
 '21:36114244:A:C',
 '3:195550279:T:TC',
 '21:36114245:CTTT:C',
 '3:156524771:A:G']

In [166]:
len(range_10_merged_enh_plasmid[range_10_merged_enh_plasmid[6].isin(sig_cd4_qtl_enh[7].unique())][6].unique())

210

- adding 10 to the end coordinate plasmid:
    - found 210 of the original 230
    - 12 qtls that weren't in the original 230
    - exactly the same for merging plasmids together first

In [167]:
range_5_enh_plasmid =pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/sig_cd4_qtl_5_enh_plasmid.txt', header=None, sep='\t')

In [168]:
len(range_5_enh_plasmid[8].value_counts())

209

174 -> 209

In [169]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(range_5_enh_plasmid[8].unique())][7].value_counts()

1:100896815:C:A    1
6:130223616:A:C    1
5:16629617:T:TG    1
5:178730755:A:G    1
5:178730808:C:A    1
                  ..
16:1826948:G:C     1
16:19907665:T:C    1
16:3106665:T:G     1
16:57417280:C:G    1
9:97905317:C:T     1
Name: 7, Length: 203, dtype: int64

- 174 -> 203 overlap with 230
- 27 that are in the enhancer sequences not found
- 6 found extra that aren't in the enhancer sequence

In [170]:
len(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(range_5_enh_plasmid[8].unique())][7].value_counts())

27

In [171]:
len(range_5_enh_plasmid[~range_5_enh_plasmid[8].isin(sig_cd4_qtl_enh[7].unique())][8].value_counts())

6

In [172]:
range_5_enh_plasmid[~range_5_enh_plasmid[8].isin(sig_cd4_qtl_enh[7].unique())].drop_duplicates(subset=8, keep='first')

,0,1,2,3,4,5,6,7,8
74,chr1,47314279,47314292,2.936620,214463,chr1,47314279,47314280,1:47314279:G:A
130,chr10,84328571,84328582,0.532689,918412,chr10,84328575,84328576,10:84328575:C:G
355,chr14,64928649,64928664,1.447820,2140360,chr14,64928663,64928664,14:64928663:C:G
455,chr17,82882964,82882979,1.270260,3130715,chr17,82882978,82882979,17:82882978:C:G
648,chr4,75991065,75991076,2.581490,5269760,chr4,75991075,75991076,4:75991075:C:G
807,chr6,31492128,31492142,1.611730,5977749,chr6,31492140,31492141,6:31492140:ATTC:A

In [173]:
range_5_enh_plasmid[~range_5_enh_plasmid[8].isin(range_10_enh_plasmid[8].unique())].drop_duplicates(subset=8)

,0,1,2,3,4,5,6,7,8
74,chr1,47314279,47314292,2.936620,214463,chr1,47314279,47314280,1:47314279:G:A
130,chr10,84328571,84328582,0.532689,918412,chr10,84328575,84328576,10:84328575:C:G
609,chr3,101467181,101467200,0.341467,4889963,chr3,101467181,101467182,3:101467181:C:A
629,chr3,195550276,195550294,0.614641,5111555,chr3,195550279,195550280,3:195550279:T:TC
797,chr6,31197319,31197338,0.491713,5975446,chr6,31197323,31197324,6:31197323:A:C
806,chr6,31491987,31492003,0.368785,5977711,chr6,31491991,31491992,6:31491991:A:G

In [174]:
enhancer[(enhancer[0] == 'chr1') & (enhancer[1] < 47314279)]

,0,1,2,3,4
0,chr1,844682,844790,chr1_780062_780170_MACS2STARRENH_indivuallyrmD...,109
1,chr1,1116100,1116462,chr1_1051480_1051842_MACS2STARRENH_indivuallyr...,363
2,chr1,1201502,1201726,chr1_1136882_1137106_MACS2STARRENH_indivuallyr...,225
3,chr1,1208078,1208173,chr1_1143458_1143553_MACS2STARRENH_indivuallyr...,96
4,chr1,1231960,1232156,chr1_1167340_1167536_MACS2STARRENH_indivuallyr...,197
...,...,...,...,...,...
246,chr1,45491257,45491474,chr1_45956929_45957146_MACS2STARRENH_indivuall...,218
247,chr1,45583395,45583566,chr1_46049067_46049238_MACS2STARRENH_indivuall...,172
248,chr1,45750552,45750868,chr1_46216224_46216540_MACS2STARRENH_indivuall...,317
249,chr1,45785658,45785816,chr1_46251330_46251488_MACS2STARRENH_indivuall...,159
250,chr1,46616373,46616505,chr1_47082045_47082177_MACS2STARRENH_indivuall...,133

In [175]:
range_7_enh_plasmid = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/sig_cd4_qtl_7_enh_plasmid.txt', sep='\t', header=None)

In [176]:
range_7_enh_plasmid[8].value_counts()

12:50167576:G:C     15
10:102918130:A:C    14
5:178730755:A:G     14
20:18567337:G:A     14
12:48716799:C:G     14
                    ..
6:32439932:C:A       1
12:44848030:C:CA     1
11:9004143:C:T       1
12:12725745:AT:A     1
6:31197323:A:C       1
Name: 8, Length: 225, dtype: int64

In [177]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(range_7_enh_plasmid[8].unique())][7].value_counts()

1:100896815:C:A    1
4:75941102:G:A     1
5:16629617:T:TG    1
5:16629706:C:G     1
5:178730755:A:G    1
                  ..
16:1826948:G:C     1
16:19907665:T:C    1
16:3106665:T:G     1
16:57417280:C:G    1
9:97905317:C:T     1
Name: 7, Length: 212, dtype: int64

In [178]:
len(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(range_7_enh_plasmid[8].unique())])

18

In [179]:
len(range_7_enh_plasmid[~range_7_enh_plasmid[8].isin(sig_cd4_qtl_enh[7].unique())][8].value_counts())

13

In [180]:
sig_cd4_in_enh_plasmid

,0,1,2,3,4,5,6,7,8
0,chr1,100896813,100896817,1.120010,330781,chr1,100896815,100896816,1:100896815:C:A
1,chr1,172381067,172381072,0.122928,509041,chr1,172381071,172381072,1:172381071:GCA:G
2,chr1,172394348,172394357,0.655618,509182,chr1,172394348,172394349,1:172394348:A:G
3,chr1,19644233,19644238,0.491713,83495,chr1,19644233,19644234,1:19644233:C:G
4,chr1,204507231,204507236,0.519031,590146,chr1,204507233,204507234,1:204507233:G:A
...,...,...,...,...,...,...,...,...,...
169,chr9,277776,277777,0.696594,7010435,chr9,277776,277777,9:277776:C:T
170,chr9,37753795,37753796,0.478054,7093854,chr9,37753795,37753796,9:37753795:C:T
171,chr9,37753800,37753802,0.327809,7093858,chr9,37753801,37753802,9:37753801:C:T
172,chr9,37753849,37753851,0.081952,7093872,chr9,37753849,37753850,9:37753849:T:G
173,chr9,97905310,97905318,0.286833,7171044,chr9,97905317,97905318,9:97905317:C:T

- qtls in plasmids that overlap with enhancer sequences:
    - 174
- adding 10 to the end coordinate plasmid:
    - found 210 of 230
    - 12 qtls that weren't in the original 230
    <br> <br>
- adding 5 to start and end
    - 203 of 230
    - 6 found extra 
- add 7 to start and end coordinate
    - 212 of 230
    - 13 found extra
- 10 shift left and right:
    - 220 of 230
    - 20 extra found

- 15 shift right, 11 shift left
- 13 shift right, 25 shift left (3 qtls)
- 28 shift right, 14 shift left
- 33 shift right, 19 shift left
- 11 shift right, 26 shift left
- 16 shift right, 16 shift left
- 38 shift right, 34 shift left 
- 85 shift right, 22 shift left

In [181]:
seven = sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(range_7_enh_plasmid[8].unique())]

In [182]:
ten =sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(range_10_enh_plasmid[8].unique())]

In [183]:
seven[~seven[7].isin(ten[7])] # found with shift to the left

,0,1,2,3,4,5,6,7
133,chr21,45923226,45923421,chr21_47343140_47343335_MACS2STARRENH_indivual...,chr21,45923406,45923407,21:45923406:C:A
137,chr3,101467069,101467235,chr3_101185913_101186079_MACS2STARRENH_indivua...,chr3,101467181,101467182,3:101467181:C:A
142,chr3,195550175,195550474,chr3_195276994_195277293_MACS2STARRENH_indivua...,chr3,195550279,195550280,3:195550279:T:TC
190,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197323,31197324,6:31197323:A:C
195,chr6,31491944,31492137,chr6_31459721_31459914_MACS2STARRENH_indivuall...,chr6,31491991,31491992,6:31491991:A:G

In [184]:
ten[~ten[7].isin(seven[7])] # found with shift to the right

,0,1,2,3,4,5,6,7
115,chr2,53994882,53995162,chr2_54222019_54222299_MACS2STARRENH_indivuall...,chr2,53995048,53995049,2:53995048:A:G
162,chr6,166969552,166969924,chr6_167383040_167383412_MACS2STARRENH_indivua...,chr6,166969587,166969588,6:166969587:G:A
175,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966170,29966171,6:29966170:A:C

In [185]:
shift_10_LR = pd.read_csv('data/bed_files/plasmid/enhancer/LR_sig_cd4_qtl_10_enh_plasmid.txt', sep='\t', header=None)

In [186]:
shift_10_LR[8].value_counts()

12:50167576:G:C    20
5:178730755:A:G    20
12:48716799:C:G    19
11:66052212:A:G    19
14:52730022:A:C    18
                   ..
22:40765045:C:G     1
6:29966168:A:C      1
21:37074019:A:G     1
2:97713589:C:A      1
2:53995048:A:G      1
Name: 8, Length: 240, dtype: int64

In [187]:
ten_LR = sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(shift_10_LR[8].unique())][7]
ten_LR

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 220, dtype: object

In [188]:
shift_10_cd4_not_found = list(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(shift_10_LR[8].unique())][7])

In [189]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(shift_10_cd4_not_found)]

,0,1,2,3,4,5,6,7
14,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321543,26321544,1:26321543:C:T
42,chr11,73995221,73995490,chr11_73706266_73706535_MACS2STARRENH_indivual...,chr11,73995246,73995247,11:73995246:C:T
65,chr13,32791545,32791661,chr13_33365683_33365799_MACS2STARRENH_indivual...,chr13,32791632,32791633,13:32791632:T:C
100,chr19,18496420,18496563,chr19_18607230_18607373_MACS2STARRENH_indivual...,chr19,18496527,18496528,19:18496527:CT:C
126,chr20,59253444,59253714,chr20_57828499_57828769_MACS2STARRENH_indivual...,chr20,59253528,59253529,20:59253528:C:A
127,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114244,36114245,21:36114244:A:C
128,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CT:C
129,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CTTT:C
130,chr21,36173773,36174112,chr21_37546071_37546410_MACS2STARRENH_indivual...,chr21,36173867,36173868,21:36173867:TA:T
210,chr7,86978848,86979032,chr7_86608164_86608348_MACS2STARRENH_indivuall...,chr7,86978895,86978896,7:86978895:G:A

In [190]:
#shift_10_LR[(shift_10_LR[0] == 'chr1') & (shift_10_LR[1] > 26336478)].drop_duplicates(subset=8)

In [191]:
#lr_ten = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/LR10_enh_plasmid.txt', sep='\t', header=None)

In [192]:
#lr_ten[(lr_ten[0] == 'chr1') & (lr_ten[1] < 26321543)]

In [193]:
#lr_ten[(lr_ten[0] == 'chr1') & (lr_ten.index > 9135) & (lr_ten.index < 9140)]

In [194]:
len(shift_10_LR[~shift_10_LR[8].isin(sig_cd4_qtl_enh[7].unique())][8].value_counts())

20

- 10 shift left and right:
    - 174 -> 240
    - 220 of 230
    - 20 extra found

chr1	47314279	47314292	2.936620	214463	chr1	47314279	47314280	1:47314279:G:A

In [195]:
enhancer[(enhancer.index > 249) & (enhancer.index < 260)]

,0,1,2,3,4
250,chr1,46616373,46616505,chr1_47082045_47082177_MACS2STARRENH_indivuall...,133
251,chr1,47314285,47314427,chr1_47779957_47780099_MACS2STARRENH_indivuall...,143
252,chr1,47333652,47333751,chr1_47799324_47799423_MACS2STARRENH_indivuall...,100
253,chr1,47437761,47438010,chr1_47903433_47903682_MACS2STARRENH_indivuall...,250
254,chr1,48472195,48472393,chr1_48937867_48938065_MACS2STARRENH_indivuall...,199
255,chr1,48794098,48794199,chr1_49259770_49259871_MACS2STARRENH_indivuall...,102
256,chr1,50960092,50960404,chr1_51425764_51426076_MACS2STARRENH_indivuall...,313
257,chr1,50968677,50968790,chr1_51434349_51434462_MACS2STARRENH_indivuall...,114
258,chr1,51236142,51236322,chr1_51701814_51701994_MACS2STARRENH_indivuall...,181
259,chr1,51501367,51501522,chr1_51967039_51967194_MACS2STARRENH_indivuall...,156

How much shift needed for the last few eqtls?

In [196]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(shift_10_cd4_not_found)]

,0,1,2,3,4,5,6,7
14,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321543,26321544,1:26321543:C:T
42,chr11,73995221,73995490,chr11_73706266_73706535_MACS2STARRENH_indivual...,chr11,73995246,73995247,11:73995246:C:T
65,chr13,32791545,32791661,chr13_33365683_33365799_MACS2STARRENH_indivual...,chr13,32791632,32791633,13:32791632:T:C
100,chr19,18496420,18496563,chr19_18607230_18607373_MACS2STARRENH_indivual...,chr19,18496527,18496528,19:18496527:CT:C
126,chr20,59253444,59253714,chr20_57828499_57828769_MACS2STARRENH_indivual...,chr20,59253528,59253529,20:59253528:C:A
127,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114244,36114245,21:36114244:A:C
128,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CT:C
129,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CTTT:C
130,chr21,36173773,36174112,chr21_37546071_37546410_MACS2STARRENH_indivual...,chr21,36173867,36173868,21:36173867:TA:T
210,chr7,86978848,86979032,chr7_86608164_86608348_MACS2STARRENH_indivuall...,chr7,86978895,86978896,7:86978895:G:A

In [197]:
plasmid_in_enh = pd.read_csv('data/bed_files/plasmid/enhancer/plasmid_in_enh.txt', header=None, sep='\t')

In [198]:
print(26321543 - 26321505)
print(26321577- 26321543)

38
34

In [199]:
# 34 shift left or 38 shift right
plasmid_in_enh[(plasmid_in_enh.index > 9135) & (plasmid_in_enh.index <9138)]

         0         1         2         3       4
9136  chr1  26321496  26321505  0.792205  116706
9137  chr1  26321577  26321578  0.081952  116707

In [200]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr11') & (plasmid_in_enh[1]> 73995246)]

In [201]:
# 16 shift right, 16 shift left
plasmid_in_enh[(plasmid_in_enh.index < 108592) & (plasmid_in_enh.index > 108588)]

            0         1         2         3        4
108589  chr11  73995229  73995230  0.969768  1292092
108590  chr11  73995262  73995271  0.122928  1292093
108591  chr11  73995275  73995279  0.273174  1292094

In [202]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr13') & (plasmid_in_enh[1]> 32791632)]

In [203]:
# 33 shift right, 19 shift left
plasmid_in_enh[(plasmid_in_enh.index < 158436) & (plasmid_in_enh.index > 158433)]

            0         1         2         3        4
158434  chr13  32791592  32791601  0.068293  1866295
158435  chr13  32791652  32791661  0.491713  1866296

In [204]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr19') & (plasmid_in_enh[1]> 18496527)]

In [205]:
# 11 shift right, 26 shift left
plasmid_in_enh[(plasmid_in_enh.index < 289268) & (plasmid_in_enh.index > 289265)]

            0         1         2         3        4
289266  chr19  18496507  18496516  0.396102  3431153
289267  chr19  18496553  18496554  0.013659  3431154

In [206]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr20') & (plasmid_in_enh[1]> 59253528)]

In [207]:
# 28 shift right, 14 shift left
plasmid_in_enh[(plasmid_in_enh.index < 366431) & (plasmid_in_enh.index > 366428)]

            0         1         2         3        4
366429  chr20  59253482  59253491  0.682935  4399043
366430  chr20  59253541  59253544  0.177563  4399044

In [208]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr21') & (plasmid_in_enh[1]> 36114245)]

In [209]:
# 13 shift right, 25 shift left (3 qtls)
plasmid_in_enh[(plasmid_in_enh.index < 370877) & (plasmid_in_enh.index > 370874)]

            0         1         2         3        4
370875  chr21  36114231  36114233  0.273174  4471575
370876  chr21  36114271  36114275  0.054635  4471576

In [210]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr21') & (plasmid_in_enh[1]> 36173867)]

In [211]:
# 85 shift right, 22 shift left
plasmid_in_enh[(plasmid_in_enh.index < 370892) & (plasmid_in_enh.index > 370889)]

            0         1         2         3        4
370890  chr21  36173773  36173782  0.177563  4472653
370891  chr21  36173889  36173898  0.355126  4472654

In [212]:
#plasmid_in_enh[(plasmid_in_enh[0] == 'chr7') & (plasmid_in_enh[1]> 86978895)]

In [213]:
# 15 shift right, 11 shift left
plasmid_in_enh[(plasmid_in_enh.index < 515050) & (plasmid_in_enh.index > 515047)]

           0         1         2        3        4
515048  chr7  86978876  86978881  0.20488  6503128
515049  chr7  86978906  86978908  2.34930  6503129

- 15 shift right, 11 shift left
- 13 shift right, 25 shift left (3 qtls)
- 28 shift right, 14 shift left
- 33 shift right, 19 shift left
- 11 shift right, 26 shift left
- 16 shift right, 16 shift left
- 40 shift right, 35 shift left 
- 85 shift right, 22 shift left

-35 links 10 rechts

***

In [214]:
l34_r10_enh_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L34R10_sig_cd4_qtl_10_enh_plasmid.txt', header=None, sep='\t')

In [215]:
l34_r10_enh_plasmid[8].value_counts()

10:102918130:A:C    37
12:48716799:C:G     37
11:47767530:T:G     36
6:32178222:C:G      36
1:26233990:C:A      36
                    ..
2:97713589:C:A       1
17:7234631:C:G       1
6:30453918:T:C       1
6:30453725:A:G       1
3:101467181:C:A      1
Name: 8, Length: 287, dtype: int64

In [216]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(l34_r10_enh_plasmid[8].unique())][7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 230, dtype: object

In [217]:
l30_r10_enh_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L30R10_sig_cd4_qtl_10_enh_plasmid.txt', header=None, sep='\t')

In [218]:
l30_r10_enh_plasmid[8].value_counts()

10:102918130:A:C    35
12:48716799:C:G     34
1:26233990:C:A      33
12:50167576:G:C     32
7:1160276:A:G       32
                    ..
17:7234631:C:G       1
21:33975659:C:T      1
3:158644602:C:T      1
7:127856715:A:G      1
2:97713589:C:A       1
Name: 8, Length: 282, dtype: int64

In [219]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(l30_r10_enh_plasmid[8].unique())][7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 229, dtype: object

In [220]:
282-229

53

In [221]:
l35_r10_enh_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L35R10_sig_cd4_qtl_10_enh_plasmid.txt', header=None, sep='\t')

In [222]:
l35_r10_enh_plasmid[l35_r10_enh_plasmid[8] == '1:26321543:C:T']

,0,1,2,3,4,5,6,7,8
276,chr1,26321542,26321588,0.081952,116707,chr1,26321543,26321544,1:26321543:C:T
277,chr1,26321543,26321593,0.232198,116708,chr1,26321543,26321544,1:26321543:C:T

In [223]:
l35_r10_enh_plasmid[8].value_counts()
#found 288, 58 too many

10:102918130:A:C      38
6:32178222:C:G        37
1:26233990:C:A        37
12:48716799:C:G       37
14:52730022:A:C       37
                      ..
21:36173867:TA:T       1
21:33975659:C:T        1
6:31260277:G:C         1
17:30291954:T:TCGG     1
2:97713589:C:A         1
Name: 8, Length: 288, dtype: int64

In [224]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(l35_r10_enh_plasmid[8].unique())][7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 230, dtype: object

In [225]:
len(l35_r10_enh_plasmid[~l35_r10_enh_plasmid[8].isin(sig_cd4_qtl_enh[7].unique())][8].value_counts())

58

In [226]:
l25_r10_enh_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L25R10_sig_cd4_qtl_10_enh_plasmid.txt', header=None, sep='\t')

In [227]:
l25_r10_enh_plasmid[8].value_counts()

12:48716799:C:G     32
10:102918130:A:C    30
1:26233990:C:A      30
6:32178222:C:G      29
5:178730755:A:G     29
                    ..
6:30453725:A:G       1
2:86080005:G:A       1
2:53995048:A:G       1
7:98251311:C:CA      1
2:97713589:C:A       1
Name: 8, Length: 270, dtype: int64

In [228]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(l25_r10_enh_plasmid[8].unique())][7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 225, dtype: object

In [229]:
print(270 - 225)

45

In [230]:
l26_r10_enh_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L26R10_sig_cd4_qtl_10_enh_plasmid.txt', header=None, sep='\t')

In [231]:
l26_r10_enh_plasmid[8].value_counts()

12:48716799:C:G     33
10:102918130:A:C    31
1:26233990:C:A      30
11:57712392:T:C     30
5:178730755:A:G     30
                    ..
17:7234631:C:G       1
7:98251311:C:CA      1
6:31491920:T:A       1
6:31260277:G:C       1
2:97713589:C:A       1
Name: 8, Length: 277, dtype: int64

In [232]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(l26_r10_enh_plasmid[8].unique())][7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 228, dtype: object

In [233]:
print(277 - 228)

49

In [234]:
l15_r15_enh_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L15R15_sig_cd4_qtl_enh_plasmid.txt', header=None, sep='\t')

In [235]:
l15_r15_enh_plasmid[8].value_counts()

1:26233990:C:A      58
11:66052212:A:G     58
6:32178222:C:G      57
6:32178216:C:G      56
7:64307384:G:C      54
                    ..
3:105753376:TA:T     1
22:40765045:C:G      1
11:88414405:C:T      1
7:127856715:A:G      1
4:67701173:TG:T      1
Name: 8, Length: 318, dtype: int64

In [236]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7].isin(l15_r15_enh_plasmid[8].unique())][7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 230, dtype: object

In [237]:
88/318

0.27672955974842767

In [238]:
len(l15_r15_enh_plasmid[~l15_r15_enh_plasmid[8].isin(sig_cd4_qtl_enh[7].unique())][8].value_counts())

88

In [239]:
sig_eqtl_found_enh = l15_r15_enh_plasmid[~l15_r15_enh_plasmid[8].isin(sig_cd4_qtl_enh[7].unique())].drop_duplicates(subset=8)

In [240]:
sig_eqtl_found_enh

,0,1,2,3,4,5,6,7,8
29,chr1,167617585,167617656,0.232198,494953,chr1,167617624,167617625,1:167617624:C:T
161,chr1,206461916,206461990,0.218539,598951,chr1,206461954,206461955,1:206461954:T:G
204,chr1,232950246,232950320,0.669276,674080,chr1,232950261,232950262,1:232950261:C:A
273,chr1,25998000,25998071,1.884900,113385,chr1,25998029,25998030,1:25998029:T:C
429,chr1,38997090,38997169,0.846839,175573,chr1,38997109,38997110,1:38997109:T:TA
...,...,...,...,...,...,...,...,...,...
5506,chr7,98251290,98251364,0.382444,6525278,chr7,98251311,98251312,7:98251311:C:CA
5552,chr8,11769625,11769698,7.812780,6715423,chr8,11769647,11769648,8:11769647:G:A
5796,chr8,73972268,73972339,6.173730,6846533,chr8,73972295,73972296,8:73972295:G:T
5945,chr9,272248,272319,1.748310,7010172,chr9,272270,272271,9:272270:C:T
5974,chr9,34329537,34329609,5.285920,7073676,chr9,34329607,34329608,9:34329607:C:G

***

In [241]:
len(cd4_in_enh_plasmid[6].value_counts())

733

In [242]:
len(cd4_qtl_enh[5].value_counts())

952

In [243]:
len(cd4_qtl_enh[cd4_qtl_enh[5].isin(sig_cd4_qtl_enh[5])])

230

In [244]:
len(cd4_in_enh_plasmid[cd4_in_enh_plasmid[5].isin(sig_cd4_qtl_enh[5])])

0

In [245]:
cd4_qtl_plasmid[5].value_counts()

198345899    3
142717120    3
157002098    3
98539081     3
96088530     3
            ..
38939298     1
38939196     1
38838762     1
38804470     1
99907595     1
Name: 5, Length: 27882, dtype: int64

In [246]:
cd4_qtl_enh[5].value_counts()

127993221    2
36114245     2
108433927    1
59451507     1
67643056     1
            ..
91853713     1
92904401     1
12080262     1
14300987     1
98056438     1
Name: 5, Length: 952, dtype: int64

In [247]:
sig_cd4_qtl_plasmid[5].value_counts()

149458111    2
31322048     2
160175151    2
63521269     2
118953626    2
            ..
377349       1
377516       1
377820       1
393996       1
97894837     1
Name: 5, Length: 3650, dtype: int64

In [248]:
sig_cd4_qtl_enh[5].value_counts()

36114245     2
127993221    2
103198430    1
103198600    1
75941102     1
            ..
19907665     1
3106665      1
57417280     1
667971       1
97905317     1
Name: 5, Length: 228, dtype: int64

In [249]:
sig_cd4_qtl_plasmid[sig_cd4_qtl_plasmid[7].isin(list(sig_cd4_qtl_enh[7]))]

,0,1,2,3,4,5,6,7
1319,chr17,27893321,27893330,0.300491,chr17,27893329,27893330,17:27893329:G:T
1674,chr19,35740741,35740750,0.368785,chr19,35740745,35740746,19:35740745:C:T
1689,chr19,4915329,4915332,0.437078,chr19,4915329,4915330,19:4915329:G:A
1898,chr2,53995022,53995031,0.081952,chr2,53995028,53995029,2:53995028:C:A
1899,chr2,53995044,53995049,0.764887,chr2,53995048,53995049,2:53995048:A:G
2122,chr21,45923405,45923414,0.232198,chr21,45923406,45923407,21:45923406:C:A
2483,chr5,16629706,16629708,0.122928,chr5,16629706,16629707,5:16629706:C:G
2569,chr5,76543291,76543300,0.259515,chr5,76543299,76543300,5:76543299:A:G
2703,chr6,27807888,27807897,0.150246,chr6,27807896,27807897,6:27807896:A:G
3548,chr8,38787395,38787404,0.396102,chr8,38787396,38787397,8:38787396:A:G
3605,chr9,277776,277777,0.696594,chr9,277776,277777,9:277776:C:T
3637,chr9,37753795,37753797,0.519031,chr9,37753795,37753796,9:37753795:C:T
3638,chr9,37753799,37753803,0.628300,chr9,37753801,37753802,9:37753801:C:T
3639,chr9,37753848,37753851,0.163904,chr9,37753849,37753850,9:37753849:T:G

In [250]:
len(sig_cd4_qtl_enh[sig_cd4_qtl_enh[5].isin(sig_cd4_qtl_plasmid[5])])

14

In [251]:
cd4_qtl_enh[cd4_qtl_enh[5].isin(sig_cd4_qtl_enh[5])]

,0,1,2,3,4,5,6,7
0,chr1,100896711,100896885,chr1_101362267_101362441_MACS2STARRENH_indivua...,chr1,100896815,100896816,1:100896815:C:A
13,chr1,172380900,172381177,chr1_172350040_172350317_MACS2STARRENH_indivua...,chr1,172381071,172381072,1:172381071:GCA:G
14,chr1,172394195,172394357,chr1_172363335_172363497_MACS2STARRENH_indivua...,chr1,172394348,172394349,1:172394348:A:G
18,chr1,19644171,19644326,chr1_19970665_19970820_MACS2STARRENH_indivuall...,chr1,19644233,19644234,1:19644233:C:G
20,chr1,204507103,204507425,chr1_204476231_204476553_MACS2STARRENH_indivua...,chr1,204507233,204507234,1:204507233:G:A
...,...,...,...,...,...,...,...,...
932,chr9,277733,277891,chr9_277733_277891_MACS2STARRENH_indivuallyrmD...,chr9,277776,277777,9:277776:C:T
936,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753795,37753796,9:37753795:C:T
937,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753801,37753802,9:37753801:C:T
938,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753849,37753850,9:37753849:T:G
951,chr9,97905294,97905465,chr9_100667576_100667747_MACS2STARRENH_indivua...,chr9,97905317,97905318,9:97905317:C:T

In [252]:
sig_cd4_qtl_merged_plasmid = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/bedtools/sig_cd4qtl_merged_plasmid.txt', sep='\t', header=None)

In [253]:
sig_cd4_qtl_merged_plasmid

,0,1,2,3,4,5,6
0,chr1,100787448,100787449,1:100787448:G:GCAGA,chr1,100787440,100787449
1,chr1,100896815,100896816,1:100896815:C:A,chr1,100896792,100896871
2,chr1,100906484,100906485,1:100906484:C:G,chr1,100906476,100906485
3,chr1,100924534,100924535,1:100924534:T:C,chr1,100924521,100924535
4,chr1,100931843,100931844,1:100931843:A:G,chr1,100931835,100931844
...,...,...,...,...,...,...,...
3861,chr9,97899690,97899691,9:97899690:A:G,chr9,97899684,97899693
3862,chr9,97903387,97903388,9:97903387:G:T,chr9,97903382,97903391
3863,chr9,97903416,97903417,9:97903416:A:G,chr9,97903411,97903420
3864,chr9,97905317,97905318,9:97905317:C:T,chr9,97905310,97905327
3865,chr9,97906791,97906792,9:97906791:G:A,chr9,97906772,97906794

In [254]:
sig_cd4_qtl_enh[sig_cd4_qtl_enh[7] == '1:100787448:G:GCAGA	']

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7]
Index: []

In [255]:
sig_cd4_qtl_enh

,0,1,2,3,4,5,6,7
0,chr1,100896711,100896885,chr1_101362267_101362441_MACS2STARRENH_indivua...,chr1,100896815,100896816,1:100896815:C:A
1,chr1,172380900,172381177,chr1_172350040_172350317_MACS2STARRENH_indivua...,chr1,172381071,172381072,1:172381071:GCA:G
2,chr1,172394195,172394357,chr1_172363335_172363497_MACS2STARRENH_indivua...,chr1,172394348,172394349,1:172394348:A:G
3,chr1,19644171,19644326,chr1_19970665_19970820_MACS2STARRENH_indivuall...,chr1,19644233,19644234,1:19644233:C:G
4,chr1,204507103,204507425,chr1_204476231_204476553_MACS2STARRENH_indivua...,chr1,204507233,204507234,1:204507233:G:A
...,...,...,...,...,...,...,...,...
225,chr9,277733,277891,chr9_277733_277891_MACS2STARRENH_indivuallyrmD...,chr9,277776,277777,9:277776:C:T
226,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753795,37753796,9:37753795:C:T
227,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753801,37753802,9:37753801:C:T
228,chr9,37753703,37754040,chr9_37753700_37754037_MACS2STARRENH_indivuall...,chr9,37753849,37753850,9:37753849:T:G
229,chr9,97905294,97905465,chr9_100667576_100667747_MACS2STARRENH_indivua...,chr9,97905317,97905318,9:97905317:C:T

In [256]:
print(f'amount of plasmids that are found more after merging overlapping sequences: {len( sig_cd4_qtl_merged_plasmid)- len(sig_cd4_qtl_plasmid)}')

amount of plasmids that are found more after merging overlapping sequences: 201

In [257]:
len(sig_cd4_qtl_enh[sig_cd4_qtl_enh[5].isin(sig_cd4_qtl_plasmid[5])])

14

In [258]:
sig_cd4_qtl_plasmid[sig_cd4_qtl_plasmid[7] == '1:100896815:C:A']

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7]
Index: []

In [259]:
sig_cd4_qtl_merged_plasmid[sig_cd4_qtl_merged_plasmid[3] == '1:100896815:C:A']

      0          1          2                3     4          5          6
1  chr1  100896815  100896816  1:100896815:C:A  chr1  100896792  100896871

In [260]:
sig_cd4_qtl_enh[7]

0        1:100896815:C:A
1      1:172381071:GCA:G
2        1:172394348:A:G
3         1:19644233:C:G
4        1:204507233:G:A
             ...
225         9:277776:C:T
226       9:37753795:C:T
227       9:37753801:C:T
228       9:37753849:T:G
229       9:97905317:C:T
Name: 7, Length: 230, dtype: object

In [261]:
found_cd4qtl_merged_enh = sig_cd4_qtl_merged_plasmid[sig_cd4_qtl_merged_plasmid[3].isin(sig_cd4_qtl_enh[7])]
found_cd4qtl_merged_enh

,0,1,2,3,4,5,6
1,chr1,100896815,100896816,1:100896815:C:A,chr1,100896792,100896871
64,chr1,172381071,172381072,1:172381071:GCA:G,chr1,172381044,172381072
65,chr1,172394348,172394349,1:172394348:A:G,chr1,172394348,172394357
82,chr1,19644233,19644234,1:19644233:C:G,chr1,19644219,19644278
90,chr1,204507233,204507234,1:204507233:G:A,chr1,204507214,204507236
...,...,...,...,...,...,...,...
3801,chr9,277776,277777,9:277776:C:T,chr9,277771,277806
3830,chr9,37753795,37753796,9:37753795:C:T,chr9,37753744,37753816
3831,chr9,37753801,37753802,9:37753801:C:T,chr9,37753744,37753816
3832,chr9,37753849,37753850,9:37753849:T:G,chr9,37753849,37753863
3864,chr9,97905317,97905318,9:97905317:C:T,chr9,97905310,97905327

In [262]:
not_found_cd4_qtl = sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(list(found_cd4qtl_merged_enh[3]))]
print(len(not_found_cd4_qtl))
not_found_cd4_qtl

56

,0,1,2,3,4,5,6,7
14,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321543,26321544,1:26321543:C:T
15,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321597,26321598,1:26321597:A:G
17,chr1,39691428,39691785,chr1_40157100_40157457_MACS2STARRENH_indivuall...,chr1,39691588,39691589,1:39691588:C:A
23,chr10,104254954,104255191,chr10_106014712_106014949_MACS2STARRENH_indivu...,chr10,104255006,104255007,10:104255006:CCGG:C
27,chr10,31928602,31928953,chr10_32217530_32217881_MACS2STARRENH_indivual...,chr10,31928794,31928795,10:31928794:C:A
42,chr11,73995221,73995490,chr11_73706266_73706535_MACS2STARRENH_indivual...,chr11,73995246,73995247,11:73995246:C:T
46,chr12,123712138,123712369,chr12_124196685_124196916_MACS2STARRENH_indivu...,chr12,123712188,123712189,12:123712188:G:C
53,chr12,44847798,44848300,chr12_45241581_45242083_MACS2STARRENH_indivual...,chr12,44848030,44848031,12:44848030:C:CA
65,chr13,32791545,32791661,chr13_33365683_33365799_MACS2STARRENH_indivual...,chr13,32791632,32791633,13:32791632:T:C
66,chr14,21477068,21477269,chr14_21945227_21945428_MACS2STARRENH_indivual...,chr14,21477256,21477257,14:21477256:A:G
69,chr14,58313228,58313427,chr14_58779946_58780145_MACS2STARRENH_indivual...,chr14,58313408,58313409,14:58313408:G:A
75,chr15,75738710,75738997,chr15_76031051_76031338_MACS2STARRENH_indivual...,chr15,75738859,75738860,15:75738859:C:T
78,chr16,1826797,1827013,chr16_1876798_1877014_MACS2STARRENH_indivually...,chr16,1826948,1826949,16:1826948:G:C
85,chr17,51153369,51153555,chr17_49230730_49230916_MACS2STARRENH_indivual...,chr17,51153539,51153540,17:51153539:C:T
86,chr17,58631659,58631790,chr17_56709020_56709151_MACS2STARRENH_indivual...,chr17,58631742,58631743,17:58631742:CAAAT:C
90,chr17,82751769,82751979,chr17_80709645_80709855_MACS2STARRENH_indivual...,chr17,82751805,82751806,17:82751805:G:C
98,chr19,17328088,17328138,chr19_17438897_17438947_MACS2STARRENH_indivual...,chr19,17328121,17328122,19:17328121:G:GGCGAGGCCCCGCCCCCT
100,chr19,18496420,18496563,chr19_18607230_18607373_MACS2STARRENH_indivual...,chr19,18496527,18496528,19:18496527:CT:C
102,chr19,19598687,19599057,chr19_19709496_19709866_MACS2STARRENH_indivual...,chr19,19598992,19598993,19:19598992:A:G
103,chr19,35740614,35740792,chr19_36231515_36231693_MACS2STARRENH_indivual...,chr19,35740745,35740746,19:35740745:C:T
107,chr2,10812844,10813042,chr2_10952970_10953168_MACS2STARRENH_indivuall...,chr2,10812936,10812937,2:10812936:GT:G
110,chr2,151261668,151261918,chr2_152118182_152118432_MACS2STARRENH_indivua...,chr2,151261824,151261825,2:151261824:G:GT
115,chr2,53994882,53995162,chr2_54222019_54222299_MACS2STARRENH_indivuall...,chr2,53995048,53995049,2:53995048:A:G
116,chr2,9423161,9423262,chr2_9563290_9563391_MACS2STARRENH_indivuallyr...,chr2,9423178,9423179,2:9423178:CGT:C
117,chr2,98731042,98731108,chr2_99347505_99347571_MACS2STARRENH_indivuall...,chr2,98731099,98731100,2:98731099:CGCCGCCGCCGCT:C
122,chr20,3989468,3989735,chr20_3970115_3970382_MACS2STARRENH_indivually...,chr20,3989490,3989491,20:3989490:C:CA
126,chr20,59253444,59253714,chr20_57828499_57828769_MACS2STARRENH_indivual...,chr20,59253528,59253529,20:59253528:C:A
127,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114244,36114245,21:36114244:A:C
128,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CT:C
129,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CTTT:C
130,chr21,36173773,36174112,chr21_37546071_37546410_MACS2STARRENH_indivual...,chr21,36173867,36173868,21:36173867:TA:T
131,chr21,37073709,37074062,chr21_38446009_38446362_MACS2STARRENH_indivual...,chr21,37073754,37073755,21:37073754:T:C
133,chr21,45923226,45923421,chr21_47343140_47343335_MACS2STARRENH_indivual...,chr21,45923406,45923407,21:45923406:C:A
134,chr22,40764807,40765062,chr22_41160811_41161066_MACS2STARRENH_indivual...,chr22,40765045,40765046,22:40765045:C:G
137,chr3,101467069,101467235,chr3_101185913_101186079_MACS2STARRENH_indivua...,chr3,101467181,101467182,3:101467181:C:A
140,chr3,156524661,156524922,chr3_156242450_156242711_MACS2STARRENH_indivua...,chr3,156524771,156524772,3:156524771:A:G
142,chr3,195550175,195550474,chr3_195276994_195277293_MACS2STARRENH_indivua...,chr3,195550279,195550280,3:195550279:T:TC
147,chr4,103198430,103198665,chr4_104119587_104119822_MACS2STARRENH_indivua...,chr4,103198600,103198601,4:103198600:G:A
151,chr5,16629464,16629784,chr5_16629573_16629893_MACS2STARRENH_indivuall...,chr5,16629706,16629707,5:16629706:C:G
153,chr5,178730621,178730927,chr5_178157622_178157928_MACS2STARRENH_indivua...,chr5,178730808,178730809,5:178730808:C:A
162,chr6,166969552,166969924,chr6_167383040_167383412_MACS2STARRENH_indivua...,chr6,166969587,166969588,6:166969587:G:A
163,chr6,27807664,27808265,chr6_27775442_27776043_MACS2STARRENH_indivuall...,chr6,27807896,27807897,6:27807896:A:G
170,chr6,29708751,29709199,chr6_29676528_29676976_MACS2STARRENH_indivuall...,chr6,29709046,29709047,6:29709046:C:T
172,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966165,29966166,6:29966165:A:AC
173,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966166,29966167,6:29966166:A:ACACACACACAC
174,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966168,29966169,6:29966168:A:C
175,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966170,29966171,6:29966170:A:C
186,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197237,31197238,6:31197237:G:T
187,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197239,31197240,6:31197239:G:T
189,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197254,31197255,6:31197254:T:TCTCA
190,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197323,31197324,6:31197323:A:C
195,chr6,31491944,31492137,chr6_31459721_31459914_MACS2STARRENH_indivuall...,chr6,31491991,31491992,6:31491991:A:G
198,chr6,31620323,31620599,chr6_31588100_31588376_MACS2STARRENH_indivuall...,chr6,31620553,31620554,6:31620553:C:CT
209,chr7,6729515,6729682,chr7_6769146_6769313_MACS2STARRENH_indivuallyr...,chr7,6729524,6729525,7:6729524:A:G
210,chr7,86978848,86979032,chr7_86608164_86608348_MACS2STARRENH_indivuall...,chr7,86978895,86978896,7:86978895:G:A
212,chr8,11769670,11769819,chr8_11627179_11627328_MACS2STARRENH_indivuall...,chr8,11769705,11769706,8:11769705:C:A

In [263]:
merged_plasmid['name'] = merged_plasmid.index

In [264]:
not_found_cd4_qtl = not_found_cd4_qtl.rename(columns={4: 'snp_chromosome', 5:'snp_position'})
not_found_cd4_qtl

,0,1,2,3,snp_chromosome,snp_position,6,7
14,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321543,26321544,1:26321543:C:T
15,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321597,26321598,1:26321597:A:G
17,chr1,39691428,39691785,chr1_40157100_40157457_MACS2STARRENH_indivuall...,chr1,39691588,39691589,1:39691588:C:A
23,chr10,104254954,104255191,chr10_106014712_106014949_MACS2STARRENH_indivu...,chr10,104255006,104255007,10:104255006:CCGG:C
27,chr10,31928602,31928953,chr10_32217530_32217881_MACS2STARRENH_indivual...,chr10,31928794,31928795,10:31928794:C:A
42,chr11,73995221,73995490,chr11_73706266_73706535_MACS2STARRENH_indivual...,chr11,73995246,73995247,11:73995246:C:T
46,chr12,123712138,123712369,chr12_124196685_124196916_MACS2STARRENH_indivu...,chr12,123712188,123712189,12:123712188:G:C
53,chr12,44847798,44848300,chr12_45241581_45242083_MACS2STARRENH_indivual...,chr12,44848030,44848031,12:44848030:C:CA
65,chr13,32791545,32791661,chr13_33365683_33365799_MACS2STARRENH_indivual...,chr13,32791632,32791633,13:32791632:T:C
66,chr14,21477068,21477269,chr14_21945227_21945428_MACS2STARRENH_indivual...,chr14,21477256,21477257,14:21477256:A:G
69,chr14,58313228,58313427,chr14_58779946_58780145_MACS2STARRENH_indivual...,chr14,58313408,58313409,14:58313408:G:A
75,chr15,75738710,75738997,chr15_76031051_76031338_MACS2STARRENH_indivual...,chr15,75738859,75738860,15:75738859:C:T
78,chr16,1826797,1827013,chr16_1876798_1877014_MACS2STARRENH_indivually...,chr16,1826948,1826949,16:1826948:G:C
85,chr17,51153369,51153555,chr17_49230730_49230916_MACS2STARRENH_indivual...,chr17,51153539,51153540,17:51153539:C:T
86,chr17,58631659,58631790,chr17_56709020_56709151_MACS2STARRENH_indivual...,chr17,58631742,58631743,17:58631742:CAAAT:C
90,chr17,82751769,82751979,chr17_80709645_80709855_MACS2STARRENH_indivual...,chr17,82751805,82751806,17:82751805:G:C
98,chr19,17328088,17328138,chr19_17438897_17438947_MACS2STARRENH_indivual...,chr19,17328121,17328122,19:17328121:G:GGCGAGGCCCCGCCCCCT
100,chr19,18496420,18496563,chr19_18607230_18607373_MACS2STARRENH_indivual...,chr19,18496527,18496528,19:18496527:CT:C
102,chr19,19598687,19599057,chr19_19709496_19709866_MACS2STARRENH_indivual...,chr19,19598992,19598993,19:19598992:A:G
103,chr19,35740614,35740792,chr19_36231515_36231693_MACS2STARRENH_indivual...,chr19,35740745,35740746,19:35740745:C:T
107,chr2,10812844,10813042,chr2_10952970_10953168_MACS2STARRENH_indivuall...,chr2,10812936,10812937,2:10812936:GT:G
110,chr2,151261668,151261918,chr2_152118182_152118432_MACS2STARRENH_indivua...,chr2,151261824,151261825,2:151261824:G:GT
115,chr2,53994882,53995162,chr2_54222019_54222299_MACS2STARRENH_indivuall...,chr2,53995048,53995049,2:53995048:A:G
116,chr2,9423161,9423262,chr2_9563290_9563391_MACS2STARRENH_indivuallyr...,chr2,9423178,9423179,2:9423178:CGT:C
117,chr2,98731042,98731108,chr2_99347505_99347571_MACS2STARRENH_indivuall...,chr2,98731099,98731100,2:98731099:CGCCGCCGCCGCT:C
122,chr20,3989468,3989735,chr20_3970115_3970382_MACS2STARRENH_indivually...,chr20,3989490,3989491,20:3989490:C:CA
126,chr20,59253444,59253714,chr20_57828499_57828769_MACS2STARRENH_indivual...,chr20,59253528,59253529,20:59253528:C:A
127,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114244,36114245,21:36114244:A:C
128,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CT:C
129,chr21,36114121,36114300,chr21_37486419_37486598_MACS2STARRENH_indivual...,chr21,36114245,36114246,21:36114245:CTTT:C
130,chr21,36173773,36174112,chr21_37546071_37546410_MACS2STARRENH_indivual...,chr21,36173867,36173868,21:36173867:TA:T
131,chr21,37073709,37074062,chr21_38446009_38446362_MACS2STARRENH_indivual...,chr21,37073754,37073755,21:37073754:T:C
133,chr21,45923226,45923421,chr21_47343140_47343335_MACS2STARRENH_indivual...,chr21,45923406,45923407,21:45923406:C:A
134,chr22,40764807,40765062,chr22_41160811_41161066_MACS2STARRENH_indivual...,chr22,40765045,40765046,22:40765045:C:G
137,chr3,101467069,101467235,chr3_101185913_101186079_MACS2STARRENH_indivua...,chr3,101467181,101467182,3:101467181:C:A
140,chr3,156524661,156524922,chr3_156242450_156242711_MACS2STARRENH_indivua...,chr3,156524771,156524772,3:156524771:A:G
142,chr3,195550175,195550474,chr3_195276994_195277293_MACS2STARRENH_indivua...,chr3,195550279,195550280,3:195550279:T:TC
147,chr4,103198430,103198665,chr4_104119587_104119822_MACS2STARRENH_indivua...,chr4,103198600,103198601,4:103198600:G:A
151,chr5,16629464,16629784,chr5_16629573_16629893_MACS2STARRENH_indivuall...,chr5,16629706,16629707,5:16629706:C:G
153,chr5,178730621,178730927,chr5_178157622_178157928_MACS2STARRENH_indivua...,chr5,178730808,178730809,5:178730808:C:A
162,chr6,166969552,166969924,chr6_167383040_167383412_MACS2STARRENH_indivua...,chr6,166969587,166969588,6:166969587:G:A
163,chr6,27807664,27808265,chr6_27775442_27776043_MACS2STARRENH_indivuall...,chr6,27807896,27807897,6:27807896:A:G
170,chr6,29708751,29709199,chr6_29676528_29676976_MACS2STARRENH_indivuall...,chr6,29709046,29709047,6:29709046:C:T
172,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966165,29966166,6:29966165:A:AC
173,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966166,29966167,6:29966166:A:ACACACACACAC
174,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966168,29966169,6:29966168:A:C
175,chr6,29966122,29966313,chr6_29933899_29934090_MACS2STARRENH_indivuall...,chr6,29966170,29966171,6:29966170:A:C
186,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197237,31197238,6:31197237:G:T
187,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197239,31197240,6:31197239:G:T
189,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197254,31197255,6:31197254:T:TCTCA
190,chr6,31197090,31197350,chr6_31164867_31165127_MACS2STARRENH_indivuall...,chr6,31197323,31197324,6:31197323:A:C
195,chr6,31491944,31492137,chr6_31459721_31459914_MACS2STARRENH_indivuall...,chr6,31491991,31491992,6:31491991:A:G
198,chr6,31620323,31620599,chr6_31588100_31588376_MACS2STARRENH_indivuall...,chr6,31620553,31620554,6:31620553:C:CT
209,chr7,6729515,6729682,chr7_6769146_6769313_MACS2STARRENH_indivuallyr...,chr7,6729524,6729525,7:6729524:A:G
210,chr7,86978848,86979032,chr7_86608164_86608348_MACS2STARRENH_indivuall...,chr7,86978895,86978896,7:86978895:G:A
212,chr8,11769670,11769819,chr8_11627179_11627328_MACS2STARRENH_indivuall...,chr8,11769705,11769706,8:11769705:C:A

In [265]:
merged_plasmid = merged_plasmid.rename(columns={0: 'snp_chromosome', 1:'start_coord', 2:'end_coord'})
merged_plasmid

        snp_chromosome  start_coord  end_coord     name
0                 chr1        10027      10036        0
1                 chr1        10039      10048        1
2                 chr1        10109      10118        2
3                 chr1        10128      10137        3
4                 chr1        10158      10174        4
...                ...          ...        ...      ...
4054424           chr9    138217605  138217614  4054424
4054425           chr9    138220317  138220326  4054425
4054426           chr9    138220555  138220564  4054426
4054427           chr9    138237176  138237185  4054427
4054428           chr9    138237334  138237343  4054428

[4054429 rows x 4 columns]

In [268]:
not_found_cd4_qtl.iloc[0,3]

'chr1_26647987_26648255_MACS2STARRENH_indivuallyrmDupat75thpercentile021623_peak_2242'

In [269]:
merged_plasmid

        snp_chromosome  start_coord  end_coord     name
0                 chr1        10027      10036        0
1                 chr1        10039      10048        1
2                 chr1        10109      10118        2
3                 chr1        10128      10137        3
4                 chr1        10158      10174        4
...                ...          ...        ...      ...
4054424           chr9    138217605  138217614  4054424
4054425           chr9    138220317  138220326  4054425
4054426           chr9    138220555  138220564  4054426
4054427           chr9    138237176  138237185  4054427
4054428           chr9    138237334  138237343  4054428

[4054429 rows x 4 columns]

In [270]:
merged_plasmid[(merged_plasmid['snp_chromosome'] == 'chr1') & (merged_plasmid['start_coord'] <= 26321543)]

      snp_chromosome  start_coord  end_coord   name
0               chr1        10027      10036      0
1               chr1        10039      10048      1
2               chr1        10109      10118      2
3               chr1        10128      10137      3
4               chr1        10158      10174      4
...              ...          ...        ...    ...
56937           chr1     26321314   26321323  56937
56938           chr1     26321399   26321414  56938
56939           chr1     26321431   26321452  56939
56940           chr1     26321461   26321483  56940
56941           chr1     26321496   26321505  56941

[56942 rows x 4 columns]

In [271]:
merged_plasmid[merged_plasmid.index <= 56942]

      snp_chromosome  start_coord  end_coord   name
0               chr1        10027      10036      0
1               chr1        10039      10048      1
2               chr1        10109      10118      2
3               chr1        10128      10137      3
4               chr1        10158      10174      4
...              ...          ...        ...    ...
56938           chr1     26321399   26321414  56938
56939           chr1     26321431   26321452  56939
56940           chr1     26321461   26321483  56940
56941           chr1     26321496   26321505  56941
56942           chr1     26321577   26321592  56942

[56943 rows x 4 columns]

In [272]:
sig_enhancer_plasmid = pd.read_csv('data/bed_files/plasmid/enhancer/L15R15_plasmid_enh_overlap.txt', sep='\t', header=None)

In [273]:
sig_enhancer_plasmid

,0,1,2,3,4,5,6,7,8
0,chr1,100046944,100046983,0.314150,327031,chr1,100046979,100047187,chr1_100512535_100512743_MACS2STARRENH_indivua...
1,chr1,100046960,100046992,0.177563,327032,chr1,100046979,100047187,chr1_100512535_100512743_MACS2STARRENH_indivua...
2,chr1,100046962,100046994,0.191222,327033,chr1,100046979,100047187,chr1_100512535_100512743_MACS2STARRENH_indivua...
3,chr1,100046964,100046999,1.092700,327034,chr1,100046979,100047187,chr1_100512535_100512743_MACS2STARRENH_indivua...
4,chr1,100046969,100047001,0.915133,327035,chr1,100046979,100047187,chr1_100512535_100512743_MACS2STARRENH_indivua...
...,...,...,...,...,...,...,...,...,...
644306,chr9,99821821,99821853,0.901474,7179068,chr9,99821726,99821832,chr9_102584008_102584114_MACS2STARRENH_indivua...
644307,chr9,99821823,99821855,0.915133,7179069,chr9,99821726,99821832,chr9_102584008_102584114_MACS2STARRENH_indivua...
644308,chr9,99821825,99821859,0.846839,7179070,chr9,99821726,99821832,chr9_102584008_102584114_MACS2STARRENH_indivua...
644309,chr9,99821829,99821860,0.368785,7179071,chr9,99821726,99821832,chr9_102584008_102584114_MACS2STARRENH_indivua...
644310,chr9,99821830,99821862,0.013659,7179072,chr9,99821726,99821832,chr9_102584008_102584114_MACS2STARRENH_indivua...

In [ ]:
#sig_enh_plasmid_sig_cd4_qtl = pd.read_csv('data/bed_files/plasmid/enhancer/sig_cd4_qtl_sig_enh_plasmid.txt', sep='\t', header=None)

In [ ]:
sig_cd4_qtl_sig_enh[8].value_counts()

5:178730755:A:G    29
12:48716799:C:G    28
1:26233990:C:A     27
11:66052212:A:G    27
12:50167576:G:C    26
                   ..
6:31491920:T:A      1
6:27865396:A:G      1
6:27831109:C:G      1
6:29966168:A:C      1
6:29964908:T:A      1
Name: 8, Length: 301, dtype: int64

In [ ]:
sig_cd4_qtl_sig_enh[sig_cd4_qtl_sig_enh[8].isin(sig_cd4_qtl_enh[7])][8].value_counts()

5:178730755:A:G     29
12:48716799:C:G     28
1:26233990:C:A      27
11:66052212:A:G     27
12:50167576:G:C     26
                    ..
22:40765045:C:G      1
6:29966168:A:C       1
19:10111519:A:G      1
19:18496527:CT:C     1
3:101467181:C:A      1
Name: 8, Length: 226, dtype: int64

In [ ]:
sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(sig_cd4_qtl_sig_enh[8])]

,0,1,2,3,4,5,6,7
14,chr1,26321496,26321764,chr1_26647987_26648255_MACS2STARRENH_indivuall...,chr1,26321543,26321544,1:26321543:C:T
42,chr11,73995221,73995490,chr11_73706266_73706535_MACS2STARRENH_indivual...,chr11,73995246,73995247,11:73995246:C:T
65,chr13,32791545,32791661,chr13_33365683_33365799_MACS2STARRENH_indivual...,chr13,32791632,32791633,13:32791632:T:C
130,chr21,36173773,36174112,chr21_37546071_37546410_MACS2STARRENH_indivual...,chr21,36173867,36173868,21:36173867:TA:T

In [ ]:
missing = list(sig_cd4_qtl_enh[~sig_cd4_qtl_enh[7].isin(sig_cd4_qtl_sig_enh[8])][7])

In [279]:
l15_r15_enh_plasmid[l15_r15_enh_plasmid[8].isin(missing)]

,0,1,2,3,4,5,6,7,8
407,chr1,26321532,26321603,0.081952,116707,chr1,26321543,26321544,1:26321543:C:T
409,chr1,26321533,26321608,0.232198,116708,chr1,26321543,26321544,1:26321543:C:T
411,chr1,26321538,26321611,0.942450,116709,chr1,26321543,26321544,1:26321543:C:T
413,chr1,26321541,26321612,0.860498,116710,chr1,26321543,26321544,1:26321543:C:T
415,chr1,26321542,26321617,0.710252,116711,chr1,26321543,26321544,1:26321543:C:T
1386,chr11,73995176,73995254,1.352210,1292091,chr11,73995246,73995247,11:73995246:C:T
1387,chr11,73995184,73995255,0.969768,1292092,chr11,73995246,73995247,11:73995246:C:T
1388,chr11,73995217,73995296,0.122928,1292093,chr11,73995246,73995247,11:73995246:C:T
1389,chr11,73995230,73995304,0.273174,1292094,chr11,73995246,73995247,11:73995246:C:T
1390,chr11,73995234,73995309,0.505372,1292095,chr11,73995246,73995247,11:73995246:C:T
1391,chr11,73995239,73995313,0.232198,1292096,chr11,73995246,73995247,11:73995246:C:T
1392,chr11,73995244,73995320,0.928792,1292097,chr11,73995246,73995247,11:73995246:C:T
2029,chr13,32791607,32791686,0.491713,1866296,chr13,32791632,32791633,13:32791632:T:C
3645,chr21,36173844,36173923,0.355126,4472654,chr21,36173867,36173868,21:36173867:TA:T

***
CD4 and monocytes in STARR enhancer

In [280]:
sig_cd4_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/sig_cd4_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')

In [281]:
sig_cd4_qtl_non_sig_enh_plasmid

,0,1,2,3,4,5,6,7,8
0,chr1,100158622,100158661,0.136587,327476,chr1,100158656,100158657,1:100158656:G:T
1,chr1,100785901,100785940,0.232198,330269,chr1,100785908,100785909,1:100785908:G:C
2,chr1,100787425,100787464,0.027317,330272,chr1,100787448,100787449,1:100787448:G:GCAGA
3,chr1,100792106,100792145,0.013659,330275,chr1,100792117,100792118,1:100792117:C:T
4,chr1,100906461,100906500,0.081952,330872,chr1,100906484,100906485,1:100906484:C:G
...,...,...,...,...,...,...,...,...,...
27057,chr9,97906774,97906809,0.013659,7171150,chr9,97906791,97906792,9:97906791:G:A
27058,chr9,97906786,97906817,0.737570,7171151,chr9,97906791,97906792,9:97906791:G:A
27059,chr9,97906787,97906821,0.751228,7171152,chr9,97906791,97906792,9:97906791:G:A
27060,chr9,97906791,97906822,0.956109,7171153,chr9,97906791,97906792,9:97906791:G:A
27061,chr9,97906841,97906880,0.259515,7171161,chr9,97906855,97906856,9:97906855:A:AG

In [ ]:
print(len(sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts()))
print(len(non_sig_cd4_qtl_non_sig_enh[8].value_counts()))
print(len(non_sig_cd4_qtl_sig_enh[8].value_counts()))

13:27620669:G:A      27
7:100429157:G:C      27
2:54115875:C:A       27
1:42767136:C:G       27
5:65563200:C:G       27
                     ..
17:48568637:GCA:G     1
17:48582199:C:A       1
17:48586488:G:A       1
17:48587867:T:G       1
9:97906855:A:AG       1
Name: 8, Length: 11777, dtype: int64

***
enrichment

In [287]:
sig_enh_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_enh_sig_lcl.txt', sep ='\t', header =None)
non_sig_enh_sig_lcl = pd.read_csv('data/bed_files/bedtools/non_sig_enh_sig_lcl.txt', sep ='\t', header =None)

sig_enh_sig_lcl

,0,1,2,3,4,5,6,7,8
0,chr1,111449388,111449423,0.682935,358584,chr1,111449398,111449548,rs1264899
1,chr1,111449393,111449424,1.079040,358585,chr1,111449398,111449548,rs1264899
2,chr1,111449394,111449425,1.420500,358586,chr1,111449398,111449548,rs1264899
3,chr1,111449395,111449427,2.117100,358587,chr1,111449398,111449548,rs1264899
4,chr1,111449397,111449430,1.434160,358588,chr1,111449398,111449548,rs1264899
...,...,...,...,...,...,...,...,...,...
6480,chr9,96450020,96450052,1.051720,7166454,chr9,96449876,96450026,rs10820632
6481,chr9,96450022,96450053,1.229280,7166455,chr9,96449876,96450026,rs10820632
6482,chr9,96450023,96450054,1.160990,7166456,chr9,96449876,96450026,rs10820632
6483,chr9,96450024,96450055,4.357130,7166457,chr9,96449876,96450026,rs10820632
6484,chr9,96450025,96450056,4.193220,7166458,chr9,96449876,96450026,rs10820632

In [288]:
print(len(sig_enh_sig_lcl[8].value_counts()))
print(len(non_sig_enh_sig_lcl[8].value_counts()))

121
1531

In [ ]:
cd4_qtl_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/cd4_qtl_sig_enh_plasmid.txt", header=None, sep='\t')
cd4_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/cd4_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')

In [290]:
print(len(cd4_qtl_sig_enh_plasmid[8].value_counts()))
print(len(cd4_qtl_non_sig_enh_plasmid[8].value_counts()))

1201
88603

In [376]:
unique_sig_cd4_qtl_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/unique_sig_cd4_qtl_sig_enh_plasmid.txt", header=None, sep='\t')
unique_sig_cd4_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/unique_sig_cd4_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')

In [292]:
print(len(unique_sig_cd4_qtl_sig_enh_plasmid[8].value_counts()))
print(len(unique_sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts()))

283
10875

In [293]:
1187 -(301-283)

1169

In [294]:
301/1187

0.2535804549283909

In [295]:
cd4_qtl_enrichment_enh = {'sig_cd4_qtl': [301, 11777],
                          'non_sig_cd4_qtl': [1187, 88244],
                          'ratio':[301/1187, 11777/88244]}

In [296]:
cd4_qtl_enrichment_enh = pd.DataFrame(data=cd4_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
cd4_qtl_enrichment_enh

             sig_cd4_qtl  non_sig_cd4_qtl  ratio
sig_enh              301             1187   0.25
non_sig_enh        11777            88244   0.13

In [297]:
data = cd4_qtl_enrichment_enh.iloc[:,0:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.900055503498423 2.418265087455649e-20

In [298]:
all_cd4_qtl_enrichment_enh = {'sig_cd4_qtl': [301, 11777],
                          'all_cd4_qtl': [1201, 88603],
                          'ratio':[301/1201, 11777/88603]}
all_cd4_qtl_enrichment_enh = pd.DataFrame(data=all_cd4_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
all_cd4_qtl_enrichment_enh

             sig_cd4_qtl  all_cd4_qtl  ratio
sig_enh              301         1201   0.25
non_sig_enh        11777        88603   0.13

In [299]:
data = all_cd4_qtl_enrichment_enh.iloc[:,0:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.8855464690522468 6.626701038789888e-20

In [300]:
unique_cd4_qtl_enrichment_enh = {'unique_sig_cd4_qtl': [len(unique_sig_cd4_qtl_sig_enh_plasmid[8].value_counts()), len(unique_sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts())],
                          'all_cd4_qtl': [1201 - (301-283), 88603 -(11777-10875)],
                          'ratio':[len(unique_sig_cd4_qtl_sig_enh_plasmid[8].value_counts())/(1201 - (301-283)), len(unique_sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts())/ (88603 -(11777-10875))]}
unique_cd4_qtl_enrichment_enh = pd.DataFrame(data=unique_cd4_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
unique_cd4_qtl_enrichment_enh

             unique_sig_cd4_qtl  all_cd4_qtl  ratio
sig_enh                     283         1183   0.24
non_sig_enh               10875        87701   0.12

In [301]:
data = unique_cd4_qtl_enrichment_enh.iloc[:,0:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.9291987446682406 3.5684095305137057e-20

In [302]:
sig_enh_plasmid_sig_b_qtl = pd.read_csv('data/bed_files/plasmid/enhancer/sig_b_qtl_sig_enh_plasmid.txt', sep='\t', header=None)
non_sig_b_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/non_sig_b_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')
sig_b_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/sig_b_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')
non_sig_b_qtlsig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/non_sig_b_qtl_sig_enh_plasmid.txt", header=None, sep='\t')

In [303]:
b_qtl_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/b_qtl_sig_enh_plasmid.txt", header=None, sep='\t')
b_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/plasmid/enhancer/b_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')

In [304]:
print(len(b_qtl_sig_enh_plasmid[8].value_counts()))
print(len(b_qtl_non_sig_enh_plasmid[8].value_counts()))

1104
74496

In [305]:
print(len(sig_enh_plasmid_sig_b_qtl[8].value_counts()))
print(len(non_sig_b_qtl_non_sig_enh_plasmid[8].value_counts()))
print(len(sig_b_qtl_non_sig_enh_plasmid[8].value_counts()))
print(len(non_sig_b_qtlsig_enh_plasmid[8].value_counts()))

31
74417
1202
1102

In [306]:
b_qtl_enrichment_enh = {'sig_b_qtl': [31, 1202],
                          'non_sig_b_qtl': [1102, 74417],
                          'ratio':[31/1102, 1202/74417]}

In [307]:
b_qtl_enrichment_enh = pd.DataFrame(data=b_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
b_qtl_enrichment_enh

             sig_b_qtl  non_sig_b_qtl  ratio
sig_enh             31           1102   0.03
non_sig_enh       1202          74417   0.02

In [308]:
data = b_qtl_enrichment_enh.iloc[:,0:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.7415974887589045 0.005645931692871732

In [309]:
b_qtl_enrichment_enh = {'sig_b_qtl': [31, 1202],
                          'all_b_qtl': [1104, 74496],
                          'ratio':[31/1104, 1202/74496]}
b_qtl_enrichment_enh = pd.DataFrame(data=b_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
b_qtl_enrichment_enh

             sig_b_qtl  all_b_qtl  ratio
sig_enh             31       1104   0.03
non_sig_enh       1202      74496   0.02

In [310]:
data = b_qtl_enrichment_enh.iloc[:,0:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.7402879259205672 0.005661727869590164

In [311]:
df = pd.DataFrame([[301, 11777],[1187, 88244]],
                  index=pd.MultiIndex.from_product([['MPRA'],['sig', 'nsig']]),
                  columns=pd.MultiIndex.from_product([['CD4 T-cell'], ['sig', 'tested']]))

In [312]:
df

          CD4 T-cell
                 sig tested
MPRA sig         301  11777
     nsig       1187  88244

In [313]:
cell_hover = {  # for row hover use <tr> instead of <td>
    'selector': 'td:hover',
    'props': [('background-color', '#ffffb3')]
}


headers = {
    'selector': 'th:not(.index_name)',
    'props': 'background-color: #000066; color: white;'
}

s = df.style.set_table_styles([cell_hover, headers])

s.set_table_styles([
    {'selector': 'th.col_heading', 'props': 'text-align: center;'},
    {'selector': 'th.row_heading', 'props':'font-weight:bold;'},
    {'selector': 'th.col_heading.level0', 'props': 'font-size: 1em;'},
    {'selector': 'td', 'props': 'text-align: center; font-weight: bold; color:black;'},
], overwrite=False)


s

In [314]:
s.set_table_styles([  # create internal CSS classes
    {'selector': '.true', 'props': 'background-color: #e6ffe6;'},
    {'selector': '.false', 'props': 'background-color: #ffe6e6;'},
], overwrite=False)
cell_color = pd.DataFrame([['true ', 'false '],
                           ['false ', 'true ']],
                          index=df.index,
                          columns=df.columns[:4])
s.set_td_classes(cell_color)

***
Control and analyses bedtool comparisson

In [32]:
sig_cd4_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_cd4qtl_in_sig_lcl.txt', sep='\t', header=None)
cd4_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/cd4_qtl_sig_lcl.txt', sep='\t', header=None)
cd4_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/cd4_qtl_non_sig_lcl.txt', sep='\t', header=None)
sig_cd4_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_cd4_qtl_non_sig_lcl.txt', sep='\t', header=None)

In [316]:
len(sig_cd4_qtl_non_sig_lcl[7].value_counts())

5731

In [317]:
len(sig_cd4_qtl_sig_lcl[7].value_counts())

1127

In [318]:
overlap_sig_cd4_qtls_lcl = list(set(sig_cd4_qtl_sig_lcl[7]) & set(sig_cd4_qtl_non_sig_lcl[7]))

In [319]:
sig_cd4_qtl_non_sig_lcl[sig_cd4_qtl_non_sig_lcl[7].isin(overlap_sig_cd4_qtls_lcl)]

,0,1,2,3,4,5,6,7
91,chr1,2540567,2540717,rs1886731,chr1,2540642,2540643,1:2540642:T:C
92,chr1,2540567,2540717,rs1886731,chr1,2540705,2540706,1:2540705:G:C
191,chr1,2582138,2582288,chr1:2513652:D,chr1,2582193,2582194,1:2582193:C:G
192,chr1,2582138,2582288,chr1:2513652:D,chr1,2582213,2582214,1:2582213:AAAAC:A
193,chr1,2582138,2582288,chr1:2513652:D,chr1,2582239,2582240,1:2582239:A:T
...,...,...,...,...,...,...,...,...
6783,chr6,30078159,30078309,rs115308766,chr6,30078221,30078222,6:30078221:A:C
7079,chr6,32659748,32659898,rs9273443,chr6,32659875,32659876,6:32659875:C:G
7084,chr6,32662052,32662202,rs1049086,chr6,32662178,32662179,6:32662178:C:T
7176,chr6,42963411,42963561,rs4987173,chr6,42963486,42963487,6:42963486:G:A
7177,chr6,42963411,42963561,rs4987173,chr6,42963523,42963524,6:42963523:C:G

In [320]:
sig_cd4_qtl_sig_lcl[sig_cd4_qtl_sig_lcl[7].isin(overlap_sig_cd4_qtls_lcl)]

,0,1,2,3,4,5,6,7
20,chr1,2540630,2540780,rs4487972,chr1,2540642,2540643,1:2540642:T:C
21,chr1,2540630,2540780,rs4487972,chr1,2540705,2540706,1:2540705:G:C
29,chr1,2582118,2582268,rs2016175,chr1,2582193,2582194,1:2582193:C:G
30,chr1,2582118,2582268,rs2016175,chr1,2582213,2582214,1:2582213:AAAAC:A
31,chr1,2582118,2582268,rs2016175,chr1,2582239,2582240,1:2582239:A:T
...,...,...,...,...,...,...,...,...
1318,chr6,30078153,30078303,rs114738123,chr6,30078221,30078222,6:30078221:A:C
1342,chr6,32659862,32660012,rs1063355,chr6,32659875,32659876,6:32659875:C:G
1344,chr6,32662037,32662187,chr6:32629889,chr6,32662178,32662179,6:32662178:C:T
1356,chr6,42963448,42963598,rs2296804,chr6,42963486,42963487,6:42963486:G:A
1357,chr6,42963448,42963598,rs2296804,chr6,42963523,42963524,6:42963523:C:G

In [321]:
print(len(cd4_qtl_sig_lcl[7].value_counts()))
print(len(cd4_qtl_non_sig_lcl[7].value_counts()))

1992
11753

In [322]:
sig_b_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_bqtl_sig_lcl_1.txt', sep='\t', header=None)
b_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/bqtl_sig_lcl_1.txt', sep='\t', header=None)
b_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/bqtl_non_sig_lcl_1.txt', sep='\t', header=None)
sig_b_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_bqtl_non_sig_lcl_1.txt', sep='\t', header=None)

In [323]:
print(len(sig_b_qtl_sig_lcl[7].value_counts()))
print(len(b_qtl_sig_lcl[7].value_counts()))
print(len(b_qtl_non_sig_lcl[7].value_counts()))
print(len(sig_b_qtl_non_sig_lcl[7].value_counts()))

656
1834
10650
2655

In [ ]:
sig_cd4_qtl_sig_enh = pd.read_csv('data/bed_files/plasmid/enhancer/sig_cd4_qtl_sig_enh_plasmid.txt', sep='\t', header=None)
sig_cd4_qtl_non_sig_enh = pd.read_csv('data/bed_files/plasmid/enhancer/sig_cd4_qtl_non_sig_enh_plasmid.txt', sep='\t', header=None)

In [ ]:
print(len(sig_cd4_qtl_sig_enh[7].value_counts()))
print(len(cd4_qtl_sig_enh_plasmid[7].value_counts()))
print(len(cd4_qtl_non_sig_enh_plasmid[7].value_counts()))
print(len(sig_cd4_qtl_non_sig_enh[7].value_counts()))

299
1198
88226
11744

In [326]:
data = [[len(sig_cd4_qtl_sig_enh[7].value_counts()), len(sig_cd4_qtl_non_sig_enh[7].value_counts())], [len(cd4_qtl_sig_enh[7].value_counts()),len(cd4_qtl_non_sig_enh[7].value_counts())]]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.874972564401159 1.86683454823522e-19

In [ ]:
print(len(sig_b_qtl_sig_enh[7].value_counts()))
print(len(b_qtl_sig_enh_plasmid[7].value_counts()))
print(len(b_qtl_non_sig_enh_plasmid[7].value_counts()))
print(len(sig_b_qtl_non_sig_enh[7].value_counts()))

31
1101
74172
1199

In [329]:
data = [[len(sig_b_qtl_sig_enh[7].value_counts()), len(sig_b_qtl_non_sig_enh[7].value_counts())], [len(b_qtl_sig_enh[7].value_counts()),len(b_qtl_non_sig_enh[7].value_counts())]]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.7417875477521003 0.0056432436316755045

In [330]:
1.8622508263020674

1.8622508263020674

In [ ]:
#sig_cd4_qtl_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/sig_cd4_qtl_sig_nre_plasmid.txt', sep='\t', header=None)
cd4_qtl_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/cd4_qtl_sig_nre.txt', sep='\t', header=None)
cd4_qtl_non_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/cd4_qtl_non_sig_nre.txt', sep='\t', header=None)
#sig_cd4_qtl_non_sig_nre = pd.read_csv('data/bed_files/plasmid/nre/sig_cd4_qtl_non_sig_nre_plasmid.txt', sep='\t', header=None)

In [332]:
print(len(sig_cd4_qtl_sig_enh))
print(len(sig_cd4_qtl_sig_nre))

3019
2863

In [333]:
sig_cd4_qtl_sig_enh[sig_cd4_qtl_sig_enh[4].isin(list(sig_cd4_qtl_sig_nre[4]))]

,0,1,2,3,4,5,6,7,8
104,chr1,232950685,232950718,0.218539,674188,chr1,232950710,232950711,1:232950710:T:C
105,chr1,232950688,232950724,0.300491,674189,chr1,232950710,232950711,1:232950710:T:C
106,chr1,232950694,232950727,0.081952,674190,chr1,232950710,232950711,1:232950710:T:C
107,chr1,232950698,232950737,0.232198,674191,chr1,232950710,232950711,1:232950710:T:C
108,chr1,232950707,232950746,0.136587,674192,chr1,232950710,232950711,1:232950710:T:C
...,...,...,...,...,...,...,...,...,...
2653,chr7,158856568,158856599,2.403930,6691557,chr7,158856589,158856590,7:158856589:T:C
2654,chr7,158856569,158856600,4.002000,6691558,chr7,158856589,158856590,7:158856589:T:C
2655,chr7,158856570,158856601,2.922960,6691559,chr7,158856589,158856590,7:158856589:T:C
2656,chr7,158856571,158856602,3.237110,6691560,chr7,158856589,158856590,7:158856589:T:C
2657,chr7,158856572,158856603,4.398100,6691561,chr7,158856589,158856590,7:158856589:T:C

In [334]:
sig_cd4_qtl_sig_nre[sig_cd4_qtl_sig_nre[4] == 6691557]

,0,1,2,3,4,5,6,7,8
2638,chr7,158856568,158856599,2.40393,6691557,chr7,158856589,158856590,7:158856589:T:C

In [335]:
sig_cd4_qtl_sig_enh[sig_cd4_qtl_sig_enh[4] == 6691557]

,0,1,2,3,4,5,6,7,8
2653,chr7,158856568,158856599,2.40393,6691557,chr7,158856589,158856590,7:158856589:T:C

In [336]:
sig_nre = pd.read_csv('data/bed_files/plasmid/nre/sig_nre_plasmid.txt',sep='\t', header=None)

In [337]:
sig_enh = pd.read_csv('data/bed_files/plasmid/enhancer/sig_enh_plasmid.txt',sep='\t', header=None)

In [338]:
print(len(sig_enh[4].value_counts()))
print(len(sig_nre[4].value_counts()))
print(len(sig_enh[sig_enh[4].isin(sig_nre[4])][4].value_counts()))

644310
450886
25506

In [339]:
nre = pd.read_csv("C:/Users/annav/Documents/Stage/data/bed_files/plasmid/nre/L15R15_plasmid_nre_overlap.txt", sep='\t', header=None)

In [340]:
enh = pd.read_csv('C:/Users/annav/Documents/Stage/data/bed_files/plasmid/enhancer/L15R15_plasmid_enh_overlap.txt', sep='\t', header=None)

In [341]:
nre

,0,1,2,3,4,5,6,7,8
0,chr1,100351392,100351428,0.027317,328211,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
1,chr1,100351401,100351433,0.341467,328212,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
2,chr1,100351403,100351434,1.625390,328213,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
3,chr1,100351404,100351438,1.652700,328214,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
4,chr1,100351408,100351440,2.513200,328215,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
...,...,...,...,...,...,...,...,...,...
450881,chr9,99433786,99433825,0.505372,7177984,chr9,99433634,99433839,chr9_102195916_102196121_CALLNREreversecontrol...
450882,chr9,99433812,99433845,0.054635,7177985,chr9,99433634,99433839,chr9_102195916_102196121_CALLNREreversecontrol...
450883,chr9,99433815,99433851,0.423420,7177986,chr9,99433634,99433839,chr9_102195916_102196121_CALLNREreversecontrol...
450884,chr9,99433821,99433854,1.092700,7177987,chr9,99433634,99433839,chr9_102195916_102196121_CALLNREreversecontrol...
450885,chr9,99433824,99433860,0.723911,7177988,chr9,99433634,99433839,chr9_102195916_102196121_CALLNREreversecontrol...

In [342]:
enh[enh[4].isin(nre[4])]

,0,1,2,3,4,5,6,7,8
145,chr1,100351604,100351639,0.396102,328246,chr1,100351635,100351837,chr1_100817191_100817393_MACS2STARRENH_indivua...
146,chr1,100351609,100351640,0.273174,328247,chr1,100351635,100351837,chr1_100817191_100817393_MACS2STARRENH_indivua...
147,chr1,100351610,100351643,0.341467,328248,chr1,100351635,100351837,chr1_100817191_100817393_MACS2STARRENH_indivua...
148,chr1,100351613,100351645,0.068293,328249,chr1,100351635,100351837,chr1_100817191_100817393_MACS2STARRENH_indivua...
149,chr1,100351615,100351649,0.191222,328250,chr1,100351635,100351837,chr1_100817191_100817393_MACS2STARRENH_indivua...
...,...,...,...,...,...,...,...,...,...
641233,chr9,93058601,93058632,0.587324,7155368,chr9,93058454,93058613,chr9_95820736_95820895_MACS2STARRENH_indivuall...
641234,chr9,93058602,93058636,0.983426,7155369,chr9,93058454,93058613,chr9_95820736_95820895_MACS2STARRENH_indivuall...
641235,chr9,93058606,93058638,0.396102,7155370,chr9,93058454,93058613,chr9_95820736_95820895_MACS2STARRENH_indivuall...
641236,chr9,93058608,93058641,0.532689,7155371,chr9,93058454,93058613,chr9_95820736_95820895_MACS2STARRENH_indivuall...
641237,chr9,93058611,93058643,0.136587,7155372,chr9,93058454,93058613,chr9_95820736_95820895_MACS2STARRENH_indivuall...

In [343]:
nre[nre[4].isin(enh[4])]

,0,1,2,3,4,5,6,7,8
35,chr1,100351604,100351639,0.396102,328246,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
36,chr1,100351609,100351640,0.273174,328247,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
37,chr1,100351610,100351643,0.341467,328248,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
38,chr1,100351613,100351645,0.068293,328249,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
39,chr1,100351615,100351649,0.191222,328250,chr1,100351423,100351619,chr1_100816979_100817175_CALLNREreversecontrol...
...,...,...,...,...,...,...,...,...,...
449099,chr9,93058601,93058632,0.587324,7155368,chr9,93058522,93058712,chr9_95820804_95820994_CALLNREreversecontrolTx...
449100,chr9,93058602,93058636,0.983426,7155369,chr9,93058522,93058712,chr9_95820804_95820994_CALLNREreversecontrolTx...
449101,chr9,93058606,93058638,0.396102,7155370,chr9,93058522,93058712,chr9_95820804_95820994_CALLNREreversecontrolTx...
449102,chr9,93058608,93058641,0.532689,7155371,chr9,93058522,93058712,chr9_95820804_95820994_CALLNREreversecontrolTx...
449103,chr9,93058611,93058643,0.136587,7155372,chr9,93058522,93058712,chr9_95820804_95820994_CALLNREreversecontrolTx...

In [344]:
sig_cd4_qtl_sig_enh[sig_cd4_qtl_sig_enh[4].isin(list(sig_cd4_qtl_sig_nre[4]))]

,0,1,2,3,4,5,6,7,8
104,chr1,232950685,232950718,0.218539,674188,chr1,232950710,232950711,1:232950710:T:C
105,chr1,232950688,232950724,0.300491,674189,chr1,232950710,232950711,1:232950710:T:C
106,chr1,232950694,232950727,0.081952,674190,chr1,232950710,232950711,1:232950710:T:C
107,chr1,232950698,232950737,0.232198,674191,chr1,232950710,232950711,1:232950710:T:C
108,chr1,232950707,232950746,0.136587,674192,chr1,232950710,232950711,1:232950710:T:C
...,...,...,...,...,...,...,...,...,...
2653,chr7,158856568,158856599,2.403930,6691557,chr7,158856589,158856590,7:158856589:T:C
2654,chr7,158856569,158856600,4.002000,6691558,chr7,158856589,158856590,7:158856589:T:C
2655,chr7,158856570,158856601,2.922960,6691559,chr7,158856589,158856590,7:158856589:T:C
2656,chr7,158856571,158856602,3.237110,6691560,chr7,158856589,158856590,7:158856589:T:C
2657,chr7,158856572,158856603,4.398100,6691561,chr7,158856589,158856590,7:158856589:T:C

In [345]:
print(len(sig_cd4_qtl_sig_nre[7].value_counts()))
print(len(cd4_qtl_sig_nre[7].value_counts()))
print(len(cd4_qtl_non_sig_nre[7].value_counts()))
print(len(sig_cd4_qtl_non_sig_nre[7].value_counts()))

309
1249
88070
11700

In [346]:
data = [[309, 11700], [1249,88070]]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.8622508263020674 1.0117088541474434e-19

In [348]:
print(len(sig_b_qtl_sig_nre[7].value_counts()))
print(len(b_qtl_sig_nre[7].value_counts()))
print(len(b_qtl_non_sig_nre[7].value_counts()))
print(len(sig_b_qtl_non_sig_nre[7].value_counts()))

26
1102
74067
1199

In [349]:
data = [[len(sig_b_qtl_sig_nre[7].value_counts()), len(sig_b_qtl_non_sig_nre[7].value_counts())], [len(b_qtl_sig_nre[7].value_counts()),len(b_qtl_non_sig_nre[7].value_counts())]]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.4574622833002093 0.07143185257570966

In [350]:
overlap_sig_b_qtls_starr = list(set(sig_b_qtl_non_sig_nre[7]) & set(sig_b_qtl_non_sig_enh[7]))

In [351]:
sig_b_qtl_non_sig_nre[sig_b_qtl_non_sig_nre[7].isin(overlap_sig_b_qtls_starr)]

,0,1,2,3,4,5,6,7,8
0,chr1,206783718,206783757,0.450737,602295,chr1,206783747,206783748,1:206783747:C:A
1,chr1,206784091,206784130,0.177563,602298,chr1,206784104,206784105,1:206784104:T:C
2,chr1,206793775,206793814,0.710252,602428,chr1,206793807,206793808,1:206793807:C:T
3,chr1,206809555,206809594,0.300491,602703,chr1,206809585,206809586,1:206809585:A:T
4,chr1,206814368,206814407,0.232198,602721,chr1,206814402,206814403,1:206814402:T:C
...,...,...,...,...,...,...,...,...,...
2737,chr9,34399327,34399366,0.245857,7074530,chr9,34399340,34399341,9:34399340:A:G
2738,chr9,34402661,34402700,0.573665,7074534,chr9,34402665,34402666,9:34402665:C:T
2739,chr9,34411464,34411503,0.150246,7074555,chr9,34411494,34411495,9:34411494:A:G
2740,chr9,79636407,79636446,0.095611,7127487,chr9,79636444,79636445,9:79636444:T:C
2741,chr9,79636419,79636458,0.027317,7127488,chr9,79636444,79636445,9:79636444:T:C

In [352]:
sig_b_qtl_non_sig_enh[sig_b_qtl_non_sig_enh[7].isin(overlap_sig_b_qtls_starr)]

,0,1,2,3,4,5,6,7,8
0,chr1,206783718,206783757,0.450737,602295,chr1,206783747,206783748,1:206783747:C:A
1,chr1,206784091,206784130,0.177563,602298,chr1,206784104,206784105,1:206784104:T:C
2,chr1,206793775,206793814,0.710252,602428,chr1,206793807,206793808,1:206793807:C:T
3,chr1,206809555,206809594,0.300491,602703,chr1,206809585,206809586,1:206809585:A:T
4,chr1,206814368,206814407,0.232198,602721,chr1,206814402,206814403,1:206814402:T:C
...,...,...,...,...,...,...,...,...,...
2797,chr9,34399327,34399366,0.245857,7074530,chr9,34399340,34399341,9:34399340:A:G
2798,chr9,34402661,34402700,0.573665,7074534,chr9,34402665,34402666,9:34402665:C:T
2799,chr9,34411464,34411503,0.150246,7074555,chr9,34411494,34411495,9:34411494:A:G
2800,chr9,79636407,79636446,0.095611,7127487,chr9,79636444,79636445,9:79636444:T:C
2801,chr9,79636419,79636458,0.027317,7127488,chr9,79636444,79636445,9:79636444:T:C

***
Cell type unique method

In [353]:
print(len(sig_cd4_qtl_sig_lcl[~sig_cd4_qtl_sig_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
print(len(cd4_qtl_sig_lcl[~cd4_qtl_sig_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
print(3589-499)
print(10182-1335)
# print(len(sig_cd4_qtl_lcl[~sig_cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
# print(len(cd4_qtl_lcl[~cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))

499
1335
3090
8847

In [354]:
len(pd.read_csv('data/bed_files/unique/unique_sig_b_sig_lcl.txt', sep='\t', header=None)[7].value_counts())

28

In [355]:
len(pd.read_csv('data/bed_files/unique/unique_sig_b_non_sig_lcl.txt', sep='\t', header=None)[7].value_counts())

122

In [356]:
10161-(1833-122)

8450

In [357]:
enr_b_lcl_unique_2 = [[28, 1734], 
             [(122), (8450)]]
odd_ratio, p_value = stats.fisher_exact(enr_b_lcl_unique_2)
print('B-qtls in lcl mpra:', odd_ratio, p_value)

B-qtls in lcl mpra: 1.1184222965946262 0.5847866255496519

In [360]:
print(len(sig_cd4_qtl_sig_lcl[7].value_counts()))
print(len(cd4_qtl_sig_lcl[7].value_counts()))
print(len(sig_cd4_qtl_non_sig_lcl[7].value_counts()))
print(len(cd4_qtl_non_sig_lcl[7].value_counts()))

1127
1992
5731
11753

In [361]:
data = [[1127, 1992], 
        [(5731), (11753)]]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 1.1602535600436994 0.0002825700322160416

In [362]:
print(len(sig_cd4_qtl_sig_lcl[~sig_cd4_qtl_sig_lcl[7].isin(sig_bqtl['snp_id'])][7].value_counts()))
print(len(sig_cd4_qtl_non_sig_lcl[~sig_cd4_qtl_non_sig_lcl[7].isin(sig_bqtl['snp_id'])][7].value_counts()))
print(1992-(1127-499))
print(11753-(5731-3198))
# print(len(sig_cd4_qtl_lcl[~sig_cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
# print(len(cd4_qtl_lcl[~cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))

499
3198
1364
9220

In [363]:
data = [[499, 1364], 
        [(3198), (9220)]]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 1.0547235350539834 0.3493161708061282

In [364]:
print(499/1364)
print(3198/9220)

0.3658357771260997
0.3468546637744035

***
wrong variables used

In [365]:
print(len(sig_bqtl_sig_lcl[~sig_bqtl_sig_lcl[7].isin(sig_cd4_qtl['snp_id'])][7].value_counts()))
print(len(b_qtl_sig_lcl[~b_qtl_sig_lcl[7].isin(sig_cd4_qtl['snp_id'])][7].value_counts()))
print(2362-(656-28))
print(10161-(1833-745))
# print(len(sig_cd4_qtl_lcl[~sig_cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))
# print(len(cd4_qtl_lcl[~cd4_qtl_lcl[5].isin(sig_bqtl['snp_position'])][5].value_counts()))

28
745
1734
9073

In [366]:
enr_b_lcl_unique = [[28, 1734], 
             [(743), (9071)]]

odd_ratio, p_value = stats.fisher_exact(enr_b_lcl_unique)
print('B-qtls in lcl mpra:', odd_ratio, p_value)

B-qtls in lcl mpra: 0.1971402447448776 1.579499920818782e-26

***

In [367]:
print(len(sig_b_qtl_sig_lcl[7].value_counts()))
print(len(b_qtl_sig_lcl[7].value_counts()))
print(len(sig_b_qtl_non_sig_lcl[7].value_counts()))
print(len(b_qtl_non_sig_lcl[7].value_counts()))

656
1834
2655
10650

In [368]:
print(len(sig_b_qtl_sig_lcl[~sig_b_qtl_sig_lcl[7].isin(sig_cd4_qtl['snp_id'])][7].value_counts()))
print(len(sig_b_qtl_non_sig_lcl[~sig_b_qtl_non_sig_lcl[7].isin(sig_cd4_qtl['snp_id'])][7].value_counts()))
print(1834-(656-28))
print(10650-(2655-122))

28
122
1206
8117

In [373]:
print(1834-(656-33))
print(10650-(2655-172))

1211
8167

In [369]:
data = [[len(sig_b_qtl_sig_lcl[~sig_b_qtl_sig_lcl[7].isin(sig_cd4_qtl['snp_id'])][7].value_counts()), 1206 ], 
        [len(sig_b_qtl_non_sig_lcl[~sig_b_qtl_non_sig_lcl[7].isin(sig_cd4_qtl['snp_id'])][7].value_counts()), 8117]]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 1.5447081532229563 0.04921391046600039

In [370]:
print(656/1834)
print(2655/10650,'\n')
print(28/1206)
print(122/8117)

0.35768811341330425
0.24929577464788732

0.02321724709784411
0.015030183565356658

***

In [377]:
print(len(unique_sig_cd4_qtl_sig_enh_plasmid[8].value_counts()))
print(len(unique_sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts()))

283
10875

In [ ]:
1187 -(299-283)

1169

In [ ]:
301/1187

0.2535804549283909

In [ ]:
cd4_qtl_enrichment_enh = {'sig_cd4_qtl': [301, 11777],
                          'non_sig_cd4_qtl': [1187, 88244],
                          'ratio':[301/1187, 11777/88244]}

In [ ]:
cd4_qtl_enrichment_enh = pd.DataFrame(data=cd4_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
cd4_qtl_enrichment_enh

             sig_cd4_qtl  non_sig_cd4_qtl  ratio
sig_enh              301             1187   0.25
non_sig_enh        11777            88244   0.13

In [390]:
unique_cd4_qtl_enrichment_enh = {'unique_sig_cd4_qtl': [len(unique_sig_cd4_qtl_sig_enh_plasmid[8].value_counts()), len(unique_sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts())],
                          'all_cd4_qtl': [1198 - (299-283), 88226 -(11744-10875)],
                          'ratio':[len(unique_sig_cd4_qtl_sig_enh_plasmid[8].value_counts())/(1198 - (299-283)), len(unique_sig_cd4_qtl_non_sig_enh_plasmid[8].value_counts())/ (88226 -(11744-10875))]}
unique_cd4_qtl_enrichment_enh = pd.DataFrame(data=unique_cd4_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
unique_cd4_qtl_enrichment_enh

             unique_sig_cd4_qtl  all_cd4_qtl  ratio
sig_enh                     283         1182   0.24
non_sig_enh               10875        87357   0.12

In [382]:
data = unique_cd4_qtl_enrichment_enh.iloc[:,:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 1.9232573662407375 5.663992767050857e-20

In [384]:
unique_sig_b_qtl_sig_enh_plasmid = pd.read_csv("data/bed_files/unique/unique_sig_b_qtl_sig_enh_plasmid.txt", header=None, sep='\t')
unique_sig_b_qtl_non_sig_enh_plasmid = pd.read_csv("data/bed_files/unique/unique_sig_b_qtl_non_sig_enh_plasmid.txt", header=None, sep='\t')

In [386]:
print(len(unique_sig_b_qtl_sig_enh_plasmid[8].value_counts()))
print(len(unique_sig_b_qtl_non_sig_enh_plasmid[8].value_counts()))

13
300

In [397]:
print(len(sig_b_qtl_sig_enh[~sig_b_qtl_sig_enh[8].isin(sig_cd4_qtl['snp_id'])][8].value_counts()))
print(len(sig_b_qtl_non_sig_enh[~sig_b_qtl_non_sig_enh[8].isin(sig_cd4_qtl['snp_id'])][8].value_counts()))

13
300

In [387]:
print(1101-(31-13))
print(74172-(1199-300))

1083
73273

In [409]:
unique_b_qtl_enrichment_enh = {'unique_sig_b_qtl': [len(unique_sig_b_qtl_sig_enh_plasmid[8].value_counts()), len(unique_sig_b_qtl_non_sig_enh_plasmid[8].value_counts())],
                          'all_b_qtl': [1101-(31-13), 74172-(1199-300)],
                          'ratio':[len(unique_sig_b_qtl_sig_enh_plasmid[8].value_counts())/(1101-(31-13)), len(unique_sig_b_qtl_non_sig_enh_plasmid[8].value_counts())/ (74172-(1199-300))]}
unique_b_qtl_enrichment_enh = pd.DataFrame(data=unique_b_qtl_enrichment_enh, index=['sig_enh', 'non_sig_enh']).round({'ratio':3})
unique_b_qtl_enrichment_enh

             unique_sig_b_qtl  all_b_qtl  ratio
sig_enh                    13       1083  0.012
non_sig_enh               300      73273  0.004

In [391]:
data = unique_b_qtl_enrichment_enh.iloc[:,:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 2.9318220991074178 0.0008436140279409059

### unique NRE

In [398]:
print(len(sig_b_qtl_sig_nre[~sig_b_qtl_sig_nre[8].isin(sig_cd4_qtl['snp_id'])][8].value_counts()))
print(len(sig_b_qtl_non_sig_nre[~sig_b_qtl_non_sig_nre[8].isin(sig_cd4_qtl['snp_id'])][8].value_counts()))

2
308

In [410]:
unique_b_qtl_enrichment_nre = {'unique_sig_b_qtl': [len(sig_b_qtl_sig_nre[~sig_b_qtl_sig_nre[8].isin(sig_cd4_qtl['snp_id'])][8].value_counts()), len(sig_b_qtl_non_sig_nre[~sig_b_qtl_non_sig_nre[8].isin(sig_cd4_qtl['snp_id'])][8].value_counts())],
                          'all_b_qtl': [1102-(26-2), 74067-(1199-308)],
                          'ratio':[len(unique_sig_b_qtl_sig_enh_plasmid[8].value_counts())/(1102-(26-2)), len(unique_sig_b_qtl_non_sig_enh_plasmid[8].value_counts())/ (74067-(1199-308))]}
unique_b_qtl_enrichment_nre = pd.DataFrame(data=unique_b_qtl_enrichment_nre, index=['sig_nre', 'non_sig_nre']).round({'ratio':3})
unique_b_qtl_enrichment_nre

             unique_sig_b_qtl  all_b_qtl  ratio
sig_nre                     2       1078  0.012
non_sig_nre               308      73176  0.004

In [401]:
data = unique_b_qtl_enrichment_nre.iloc[:,:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 0.4407874129580994 0.33792589793453

In [402]:
print(len(sig_cd4_qtl_sig_nre[~sig_cd4_qtl_sig_nre[8].isin(sig_bqtl['snp_id'])][8].value_counts()))
print(len(sig_cd4_qtl_non_sig_nre[~sig_cd4_qtl_non_sig_nre[8].isin(sig_bqtl['snp_id'])][8].value_counts()))

285
10841

In [407]:
unique_cd4_qtl_enrichment_nre = {'unique_sig_cd4_qtl': [len(sig_cd4_qtl_sig_nre[~sig_cd4_qtl_sig_nre[8].isin(sig_bqtl['snp_id'])][8].value_counts()), len(sig_cd4_qtl_non_sig_nre[~sig_cd4_qtl_non_sig_nre[8].isin(sig_bqtl['snp_id'])][8].value_counts())],
                          'all_cd4_qtl': [1249-(309-299), 88070-(11770-10841)],
                          'ratio':[len(sig_cd4_qtl_sig_nre[~sig_cd4_qtl_sig_nre[8].isin(sig_bqtl['snp_id'])][8].value_counts())/(1249-(309-299)), len(sig_cd4_qtl_non_sig_nre[~sig_cd4_qtl_non_sig_nre[8].isin(sig_bqtl['snp_id'])][8].value_counts())/ (88070-(11770-10841))]}
unique_cd4_qtl_enrichment_nre = pd.DataFrame(data=unique_cd4_qtl_enrichment_nre, index=['sig_enh', 'non_sig_enh']).round({'ratio':2})
unique_cd4_qtl_enrichment_nre

             unique_sig_cd4_qtl  all_cd4_qtl  ratio
sig_enh                     285         1239   0.23
non_sig_enh               10841        87141   0.12

In [408]:
data = unique_cd4_qtl_enrichment_nre.iloc[:,:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(':', odd_ratio, p_value)

: 1.8489567338413293 4.023439885952622e-18

***
Percentage overlap calculations (extra)

In [ ]:
non_sig_b_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/non_sig_b_qtl_sig_lcl.txt', sep='\t', header=None)
non_sig_b_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/non_sig_b_qtl_non_sig_lcl.txt', sep='\t', header=None)
sig_b_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_b_qtl_non_sig_lcl.txt', sep='\t', header=None)
sig_b_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/sig_b_qtl_sig_lcl_unique.txt', sep='\t', header=None)

In [ ]:
b_qtl_sig_lcl = pd.read_csv('data/bed_files/bedtools/b_qtl_sig_lcl_unique.txt', sep='\t', header=None)
b_qtl_non_sig_lcl = pd.read_csv('data/bed_files/bedtools/b_qtl_non_sig_lcl_unique.txt', sep='\t', header=None)

In [ ]:
non_sig_cd4_qtl_sig_lcl = pd.read_csv("data/bed_files/bedtools/non_sig_cd4_qtl_sig_lcl.txt", sep='\t', header=None)
non_sig_cd4_qtl_non_sig_lcl = pd.read_csv("data/bed_files/bedtools/non_sig_cd4_qtl_non_sig_lcl.txt", sep='\t', header=None)
sig_cd4_qtl_non_sig_lcl = pd.read_csv("data/bed_files/bedtools/sig_cd4_qtl_non_sig_lcl.txt", sep='\t', header=None)
sig_cd4_qtl_non_sig_lcl = pd.read_csv("data/bed_files/bedtools/sig_cd4_qtl_non_sig_lcl.txt", sep='\t', header=None)

In [111]:
total_b= []
overlap_b = []
percentage_list= []
def percentage_eqtl_mpra_overlap(df, list_total, list_overlap, percentage_list, col=3):
    overlap = df[col].value_counts().gt(1).sum()
    list_overlap.append(overlap)
    total = len(df[col].value_counts())
    list_total.append(total)
    percentage = round((overlap/total) * 100, 2)
    percentage_list.append(percentage)
    return percentage

In [112]:
print(percentage_eqtl_mpra_overlap(non_sig_b_qtl_sig_lcl,total_b,overlap_b,percentage_list),'\n',
      percentage_eqtl_mpra_overlap(non_sig_b_qtl_non_sig_lcl,total_b,overlap_b,percentage_list), '\n',
      percentage_eqtl_mpra_overlap(sig_b_qtl_sig_lcl,total_b,overlap_b,percentage_list), '\n',
      percentage_eqtl_mpra_overlap(sig_b_qtl_non_sig_lcl,total_b,overlap_b,percentage_list), '\n')

27.71
 26.3
 58.82
 50.54

In [100]:
sig_b_qtl_sig_lcl[sig_b_qtl_sig_lcl[3] == 'rs9616206']

,0,1,2,3,4,5,6,7
817,chr22,49917124,49917274,rs9616206,chr22,49917181,49917182,chr22_49917181
818,chr22,49917124,49917274,rs9616206,chr22,49917199,49917200,chr22_49917199
819,chr22,49917124,49917274,rs9616206,chr22,49917232,49917233,chr22_49917232
820,chr22,49917124,49917274,rs9616206,chr22,49917234,49917235,chr22_49917234

In [73]:
(sum(overlap_b) / sum(total_b)) * 100

33.2590799031477

In [114]:
total_cd4 = []
overlap_cd4 = []
percentage_list_cd4 = []
print(percentage_eqtl_mpra_overlap(non_sig_cd4_qtl_sig_lcl,total_cd4,overlap_cd4, percentage_list_cd4),'\n',
      percentage_eqtl_mpra_overlap(non_sig_cd4_qtl_non_sig_lcl,total_cd4,overlap_cd4,percentage_list_cd4), '\n',
      percentage_eqtl_mpra_overlap(sig_cd4_qtl_sig_lcl,total_cd4,overlap_cd4, percentage_list_cd4), '\n',
      percentage_eqtl_mpra_overlap(sig_cd4_qtl_non_sig_lcl,total_cd4,overlap_cd4,percentage_list_cd4), '\n')

28.83
 24.98
 47.06
 38.77

In [194]:
d={'b_lcl(%)': percentage_list, 'cd4_lcl(%)': percentage_list_cd4}
lcl =pd.DataFrame(data=d, index=['nsig_sig', 'nsig_nsig', 'sig_sig', 'sig_nsg'])

In [146]:
for i in percentage_list:
    le = i * 0.95
    gt = i *1.05
    for i in percentage_list_cd4:
        if not i > le and not i < gt:
            print(i)
        else:
            print('in range')
            break
            #print(str(i) + ' > ' + str(le), str(i) + ' < ' +str(gt))

in range
in range
in range
in range

In [109]:
print(28.83 * 1.05, 28.83* 0.95)

30.2715 27.388499999999997

In [75]:
(sum(overlap_cd4) / sum(total_cd4)) * 100

32.56997455470738

In [162]:
total_b_enh= []
overlap_b_enh = []
percentage_list_enh= []
print(percentage_eqtl_mpra_overlap(non_sig_b_qtl_sig_enh,total_b_enh,overlap_b_enh,percentage_list_enh,4),'\n',
      percentage_eqtl_mpra_overlap(non_sig_b_qtl_non_sig_enh,total_b_enh,overlap_b_enh,percentage_list_enh,4), '\n',
      percentage_eqtl_mpra_overlap(sig_b_qtl_sig_enh,total_b_enh,overlap_b_enh,percentage_list_enh,4), '\n',
      percentage_eqtl_mpra_overlap(sig_b_qtl_non_sig_enh,total_b_enh,overlap_b_enh,percentage_list_enh,4), '\n')

5.76
 5.53
 12.68
 8.8

In [160]:
total_cd4_enh= []
overlap_cd4_enh = []
percentage_list_cd4_enh= []
print(percentage_eqtl_mpra_overlap(non_sig_cd4_qtl_sig_enh,total_cd4_enh,overlap_cd4_enh,percentage_list_cd4_enh,4),'\n',
      percentage_eqtl_mpra_overlap(non_sig_cd4_qtl_non_sig_enh,total_cd4_enh,overlap_cd4_enh,percentage_list_cd4_enh,4), '\n',
      percentage_eqtl_mpra_overlap(sig_cd4_qtl_sig_enh,total_cd4_enh,overlap_cd4_enh,percentage_list_cd4_enh,4), '\n',
      percentage_eqtl_mpra_overlap(sig_cd4_qtl_non_sig_enh,total_cd4_enh,overlap_cd4_enh,percentage_list_cd4_enh,4), '\n')

5.35
 5.59
 5.08
 5.35

In [178]:
non_sig_cd4_qtl_sig_enh[non_sig_cd4_qtl_sig_enh[4] == 5975431]

,0,1,2,3,4,5,6,7,8
9896,chr6,31197225,31197264,0.6283,5975431,chr6,31197228,31197229,6:31197228:A:ATTTTT
9897,chr6,31197225,31197264,0.6283,5975431,chr6,31197235,31197236,6:31197235:G:T
9898,chr6,31197225,31197264,0.6283,5975431,chr6,31197237,31197238,6:31197237:G:T
9899,chr6,31197225,31197264,0.6283,5975431,chr6,31197239,31197240,6:31197239:G:T
9900,chr6,31197225,31197264,0.6283,5975431,chr6,31197241,31197242,6:31197241:G:T
9901,chr6,31197225,31197264,0.6283,5975431,chr6,31197254,31197255,6:31197254:T:TCTCA

In [175]:
len(set(non_sig_cd4_qtl_sig_enh[8].value_counts().index) - set(sig_cd4_qtl_sig_enh[8].value_counts().index))

900

In [187]:
d={'b_enh(%)': percentage_list_enh, 'cd4_enh(%)': percentage_list_cd4_enh}
enh = pd.DataFrame(data=d, index=['nsig_sig', 'nsig_nsig', 'sig_sig', 'sig_nsg'])

In [183]:
total_b_nre= []
overlap_b_nre = []
percentage_list_b_nre= []
print(percentage_eqtl_mpra_overlap(non_sig_b_qtl_sig_nre,total_b_nre,overlap_b_nre,percentage_list_b_nre,4),'\n',
      percentage_eqtl_mpra_overlap(non_sig_b_qtl_non_sig_nre,total_b_nre,overlap_b_nre,percentage_list_b_nre,4), '\n',
      percentage_eqtl_mpra_overlap(sig_b_qtl_sig_nre,total_b_nre,overlap_b_nre,percentage_list_b_nre,4), '\n',
      percentage_eqtl_mpra_overlap(sig_b_qtl_non_sig_nre,total_b_nre,overlap_b_nre,percentage_list_b_nre,4), '\n')

5.38
 5.56
 12.3
 8.76

In [184]:
total_cd4_nre= []
overlap_cd4_nre = []
percentage_list_cd4_nre= []
print(percentage_eqtl_mpra_overlap(non_sig_cd4_qtl_sig_nre,total_cd4_nre,overlap_cd4_nre,percentage_list_cd4_nre,4),'\n',
      percentage_eqtl_mpra_overlap(non_sig_cd4_qtl_non_sig_nre,total_cd4_nre,overlap_cd4_nre,percentage_list_cd4_nre,4), '\n',
      percentage_eqtl_mpra_overlap(sig_cd4_qtl_sig_nre,total_cd4_nre,overlap_cd4_nre,percentage_list_cd4_nre,4), '\n',
      percentage_eqtl_mpra_overlap(sig_cd4_qtl_non_sig_nre,total_cd4_nre,overlap_cd4_nre,percentage_list_cd4_nre,4), '\n')
non_sig_cd4_qtl_sig_nre[4].value_counts()

5.69
 5.56
 4.01
 5.46

2061018    4
912328     4
912327     4
912326     4
912325     4
          ..
2480259    1
2480258    1
2476171    1
2476170    1
7171529    1
Name: 4, Length: 8660, dtype: int64

In [186]:
d={'b_nre(%)': percentage_list_b_nre, 'cd4_nre(%)': percentage_list_cd4_nre}
nre =pd.DataFrame(data=d, index=['nsig_sig', 'nsig_nsig', 'sig_sig', 'sig_nsg'])

In [195]:
print(lcl,'\n\n' , enh, '\n\n', nre)

           b_lcl(%)  cd4_lcl(%)
nsig_sig      27.71       28.83
nsig_nsig     26.30       24.98
sig_sig       58.82       47.06
sig_nsg       50.54       38.77

            b_enh(%)  cd4_enh(%)
nsig_sig       5.76        5.35
nsig_nsig      5.53        5.59
sig_sig       12.68        5.08
sig_nsg        8.80        5.35

            b_nre(%)  cd4_nre(%)
nsig_sig       5.38        5.69
nsig_nsig      5.56        5.56
sig_sig       12.30        4.01
sig_nsg        8.76        5.46

In [ ]:
print(len(b_qtl_sig_lcl[7].value_counts()))
print(len(b_qtl_non_sig_lcl[7].value_counts()))
print(len(sig_b_qtl_non_sig_lcl[7].value_counts()))
print(len(sig_b_qtl_sig_lcl[7].value_counts()))
print(len(non_sig_b_qtl_non_sig_lcl[7].value_counts()))

1833

In [49]:
bqtls_lcl = {'sig_b': [656, 2653],
                          'non_sig_b': [1177, 7970],
                          'total_cd4':[(1833), (10623)],
                          }
bqtls_lcl = pd.DataFrame(data=bqtls_lcl, index=['sig_lcl', 'non_sig_lcl'])
bqtls_lcl

             sig_b  non_sig_b  total_cd4
sig_lcl        656       1177       1833
non_sig_lcl   2653       7970      10623

In [50]:

data = bqtls_lcl.iloc[:,0:2]
odd_ratio, p_value = stats.fisher_exact(data)
print(odd_ratio, p_value)

1.6743584874179405 4.139329191560025e-21